@import '../../../../../../styles/common';

.m-application-switcher {
  position: relative;

  &__dropdown {
    position: absolute;
    width: 100%;
    background-color: $co-color__fg__back--higher;
    box-shadow: $co-shadow;
    visibility: hidden;

    &.is-open {
      visibility: visible;
    }
  }

  &__dropdown-item {
    line-height: $co-component__height;
  }
}
