@import '../../../../../../styles/common';

.m-application-switcher {
  position: relative;

  &__icon {
    margin-right: $co-component__spacing;
  }

  &__dropdown {
    position: absolute;
    width: 100%;
    background-color: $co-color__fg__back;
    box-shadow: $co-shadow;
  }

  &__dropdown-item {
    line-height: $co-component__height;
  }
}
