@import '../../../../styles/common';
@import '../../../../styles/vendor/bootstrap_foundation-sites';
@import '../../../../styles/util/u-gradient';

$m-slider-width: 10px;
$m-strip-size: 2px;

@mixin m-slider($color, $direction: to right) {
  .rc-slider-track,
  &__range {
    background: linear-gradient(
      $direction,
      darken($color, 30),
      lighten($color, 1)
    );
    box-shadow: none;
  }

  .rc-slider-rail,
  &__full-bar {
    // 8px is correct on both firefox/chrome :(
    @include u-gradient-striped($color: darken($color, 20), $size: 8px);
  }
}

.m-slider-container {
  .rc-slider {
    @include m-slider($co-color__importance);
    position: relative;

    &,
    .rc-slider-rail {
      width: 100%;
      height: $m-slider-width;
      border-radius: $m-slider-width;
    }

    .rc-slider-rail,
    .rc-slider-step {
      position: absolute;
    }

    .rc-slider-track {
      position: absolute;
      left: 0;
      height: $m-slider-width;
      border-radius: $m-slider-width;
    }

    .rc-slider-handle {
      display: inline-block;
      position: absolute;
      left: -5px;
      z-index: $l-z-index__slider-handles;
      width: 20px;
      height: 20px;
      border-radius: 0 20px 20px;
      outline: none;
      background-color: $co-color__fg__text--high;

      &-2 {
        margin-top: -5px;
        margin-left: -15px;
        transform: rotateZ(-45deg);
      }

      &-1 {
        margin-top: -5px;
        margin-left: -5px;
        transform: rotateZ(138deg);
      }
    }
  }

  &__slider-tick-list {
    display: flex;
    position: absolute;
    z-index: $l-z-index__slider-ticks;
    list-style-type: none;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    height: $m-slider-width;
    margin: 0;
    padding: 0;
  }

  &__slider-tick {
    vertical-align: middle;
    width: 1px;
    height: 10px;
    background-color: $co-color__fg__back;
  }

  &--vertical {
    .rc-slider {
      @include m-slider($co-color__importance, to top);

      &,
      .rc-slider-rail {
        width: $m-slider-width;
        height: 100%;
      }

      .rc-slider-track {
        bottom: 0;
        left: initial;
        width: $m-slider-width;
        height: initial;
      }

      .rc-slider-handle {
        &-1,
        &-2 {
          margin-top: initial;
          margin-left: initial;
        }

        &-2 {
          margin-bottom: -15px;
          transform: rotateZ(-135deg);
        }

        &-1 {
          margin-bottom: -5px;
          transform: rotateZ(45deg);
        }
      }
    }

    &__slider-tick-list {
      flex-direction: column-reverse;
      height: 100%;
    }

    &__slider-tick {
      vertical-align: middle;
      width: 10px;
      height: 1px;
    }
  }
}
