@import '../../../../styles/vendor/bootstrap_foundation-sites';

.m-day-message-list {
  &__day {
    @include flex-grid-row($size: expand);
    padding-top: $co-component__spacing;
    padding-bottom: $co-component__spacing;
    border-bottom: 1px solid $co-color__bg__back;
    font-weight: 600;

    time {
      @include flex-grid-column;
    }
  }
}
