@import '../../../../styles/vendor/bootstrap_foundation-sites';

.m-day-message-list {
  &__date {
    display: block;
    margin: $co-grid__gutter 0;
    padding: 0 2 * $co-component__spacing;
    background: $co-color__fg__back;
    line-height: $co-component__height;
  }
}
