@import '../../../../styles/vendor/bootstrap_foundation-sites';

.m-tag-list {
  &__tag {
    color: $co-color__fg__text--high;
    font-weight: 400;
    line-height: $co-font__line-height;

    &--active {
      color: $co-color__fg__text;
      font-weight: 600;
    }
  }
}
