@import '../../styles/common';

.m-field-errors {
  list-style: none;
  padding-top: map-get($co-form__spacing, 'xsmall');
  color: map-get($caliopen-palette, 'alert');
  font-size: $co-font__size--xsmall;
  font-weight: 700;
}
