@import '../../../../styles/common';
@import '../../../../styles/object/o-form-element';

.m-discussion-textarea {
  &__body {
    @include o-form-element;
    width: 100%;
    min-height: 3 * $co-component__height;
    color: $co-color__fg__text;
  }
}
