@import '../../../../../../../../styles/common';
@import '../../../../../../../../styles/object/o-navigation';

$m-navbar-item__content--max-width: 12rem !default;

.m-navbar-item {
  @include o-navigation-item;
  display: flex;
  font-weight: 600;
  text-transform: uppercase;

  &__content {
    max-width: $m-navbar-item__content--max-width;
    padding-right: $co-margin / 4;
    padding-left: $co-margin / 2;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
