@import '../../../styles/common';
@import '../../../styles/object/o-form-element';

.m-select-field-group {
  &__label {
    display: block;
    margin-bottom: map-get($co-form__spacing, 'small');
  }

  &__select {
    @include o-form-element;
    margin-bottom: map-get($co-form__spacing, 'medium');
  }

  &,
  &--dark {
    &__select { @include o-form-element--dark; }
  }

  &--light {
    &__select { @include o-form-element--light; }
  }

  &--expanded {
    &__select { width: 100%; }
  }
}
