@import '../../../styles/common';
@import '../../../styles/object/o-form-element';

.m-select-field-group {
  &__label {
    display: block;
    margin-bottom: map-get($co-form__spacing, 'small');
  }

  &__select-wrapper {
    display: inline-block;
    position: relative;
    padding-right: 10px;
    border: 0;
    background-color: transparent;
    overflow: hidden;

    &,
    > * {
      cursor: pointer;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 7px;
      width: 0;
      margin-top: -3px;
      border-width: 6px 4px;
      border-style: solid;
      border-color: $co-color__fg__text transparent transparent;
      pointer-events: none;
    }
  }

  &__select {
    @include o-form-element;

    // sass-lint:disable-all
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;

    -webkit-appearance: none;
    -moz-appearance: radio-container;
    appearance: none;
    // sass-lint:enable-all
  }

  &,
  &--dark {
    &__select-wrapper,
    &__select {
      @include o-form-element--dark;
    }
  }

  &--light {
    &__select-wrapper,
    &__select {
      @include o-form-element--light;
    }
  }

  &--expanded {
    &__select-wrapper { width: 100%; }
  }
}
