@import '../../../../styles/common';
@import '../../../../styles/vendor/bootstrap_foundation-sites';

.s-signin {

  &__action { line-height: $co-component__height; }
  &__link { text-align: center; }

  &__alpha {
    a {
      color: $co-color__primary--low;
    }
  }
}
