@import '../../../../styles/common';
@import '../../../../styles/vendor/bootstrap_foundation-sites';

.s-signin {
  max-width: map-get($co-form__width, 'xlarge');

  &__action { line-height: $co-component__height; }

  &__alpha {
    a {
      color: white;
    }
  }
  &__login-safe { background-color: map-get($context-palette, 'safe'); }
  &__login-public { background-color: map-get($context-palette, 'public'); }
  &__login-unsecure { background-color: map-get($context-palette, 'unsecure'); }
}
