@import '../../../../styles/common';
@import '../../../../styles/vendor/bootstrap_foundation-sites';

.m-remote-identity-email {
  &__action {
    &:not(:first-child) {
      margin-left: $co-component__spacing;
    }
    &--push-right {
      float: right;
    }
  }
}
