// do not use rem, this allow more content for the same width by
// changing font-size for breakpoints in the root element (e.g 88% for large screen)
$co-site-width: 1200px;
$co-page-container-paddings: (
  medium: 4px,
  xlarge: 40px,
);
$co-header__height: 3rem !default; // 48px
$co-brand-width: 11rem;
$co-pi-width: (
  graph: 15rem,
  ratings: 17rem,
  mini-ratings: 1rem,
);
$co-pi-height: (
  progressbar: .25rem,
);

$co-radius: .2rem;

// TODO refactor
$co-margin: 1.5rem; //24px
$co-margin_: (
  xsmall:  .625rem,   // 10px
  small:   1rem,     // 16px
  medium:  1.5rem,   // 24px
  large:   2.625rem, // 42px
  xlarge:  5rem,     // 80px
);

$co-font__size: 1rem;
$co-font__size--xsmall: .75rem;
$co-font__size--small: .875rem;
$co-font__size--large: 1.5rem;

$co-font__line-height: 1.4rem;

$co-component__height: 2.625rem;
$co-component__height--large: 3.5rem;
$co-component__spacing: .5rem;

$co-form__width: (
  small:  10rem,  // 160 px
  medium: 13rem,  // 208 px
  large:  16rem,  // 256 px
  xlarge: 23.75rem,  // 380 px
);

$co-form__height: (
  small:  1.5rem,   // 24 px
  medium: 2.25rem,  // 36 px
  large:  3rem      // 48 px
);

$co-form__spacing: (
  xsmall: .25rem, // 4 px
  small: .625rem, // 10 px
  medium: .9375rem, // 15 px
  large:  1.5625rem, // 25 px
  xlarge:  2.625rem, // 42px
);

$co-grid__gutter: $co-margin;
$co-grid__gutter--small: 20px;

$co-animation__clickable-transition: background-color .1s ease-out, color .1s ease-out !default;
$co-animation__box-transition: box-shadow .15s, border-color .15s ease-in-out !default;
$co-animation__margin-transition: margin .15s, padding .15s ease !default;
$co-animation__width-transition: width .15s ease-in-out !default;

$l-z-index__navbar-shadow: -1;
$l-z-index__navbar: 1;
$l-z-index__action-bar: 1;
$l-z-index__flash-message: 2;
$l-z-index__actions-container: 999;
$l-z-index__header: 1000;
$l-z-index__modal-overlay: 1010;
$l-z-index__dropdown: 1020;
$l-z-index__slider-ticks: 1031;
$l-z-index__slider-handles: 1032;
