@import '../../styles/util/breakpoint';

.l-header {
  height: $co-component__height;
  background-color: #e1f5ff;
  line-height: $co-component__height;

  &__brand {
    display: inline-block;
    vertical-align: middle;
    height: 29px;
    margin-left: .25rem;

    @include breakpoint(medium) {
      margin-left: 0;
    }
  }

  &__user-menu, &__take-a-tour {
    display: inline-block;
    float: right;
  }

  &__button-label {
    display: none;

    @include breakpoint(medium) {
      display: inline;
    }
  }

  // &__notif-menu {
  //   display: inline-block;
  //   float: right;
  //   .m-button {
  //     color: #115972;
  //   }
  // }
}
