@import '../../styles/object/o-navigation';
@import '../../styles/object/o-pi-border.scss';
@import '../../styles/vendor/bootstrap_foundation-sites';

$item-active-height: 3.125rem + (rem_calc($pi-border__size) * 2); // $m-navbar-item-height--active
$item-height: 2.75rem + (rem_calc($pi-border__size) * 2); // $m-navbar-item-height

.l-navbar {
  height: $item-active-height;

  &__wrapper {
    z-index: $l-z-index__navbar;

    &--sticky {
      position: fixed;
      top: 0;
      width: 100%;
      background-color: #d9f2fe;

      // XXX: refactor
      .m-horizontal-scroll {
        height: $item-height;
        background-image: none;
      }

      .m-navbar-item,
      .tab {
        margin-top: 0;
      }

      .m-navbar-item--is-active {
        height: $item-height;

        .m-item-link {
          line-height: $item-height;
        }
      }

      .m-horizontal-scroll__container {
        background: #fff;
      }
    }
  }
}
