// --- Base ---
// global rules
$co-font-path: '../../fonts';
@import '../../styles/base/fonts';
@import '../../styles/base/reset';
// --- Vendor ---
@import '../../styles/vendor/bootstrap_foundation-sites';
@import '../../styles/common';
@import '../../styles/object/o-navigation';

$l-body__content--padding-top: $l-navigation__height + $l-navigation__margin-top;

.l-body {
  &__content {
    max-width: $co-site-width;
    margin-right: auto;
    margin-left: auto;
  }

  &__footer-alpha {
    color: $co-color__bg__text--lower;
    text-align: center;
    a {
      color: $co-color__bg__text;
    }
  }

  @include breakpoint(medium) {
    &__content {
      padding-top: $l-body__content--padding-top;
    }
  }
}
