// --- Base ---
// global rules
$co-font-path: '../../fonts';
@import '../../styles/base/fonts';
@import '../../styles/base/reset';

// --- Vendor ---
@import '../../styles/vendor/bootstrap_foundation-sites';

@import '../../styles/common';

.l-body {
  &__content {
    // XXX: need a better fix for call-to-action override on mobile
    margin-bottom: 160px;
  }

  @include breakpoint(medium) {
    &__content {
      padding-top: 67px;
    }
  }
}
