@import '../../styles/common';
@import '../../styles/object/o-clickable';

.m-link {
  @include o-clickable;

  &--text { @include o-clickable--text; }
  &--button { @include o-clickable--button; }
  &--badge {
    padding-right: $co-radius * 2;
    padding-left: $co-radius * 2;
    border-radius: $co-radius;
    background: $co-color__primary--low;
    color: $co-color__contrast__text;
    text-decoration: none;
    &:focus,
    &:visited,
    &:hover {
      background: $co-color__primary;
      color: $co-color__contrast__text;
    }
  }
  &--plain { @include o-clickable--plain; }
  &--hollow { @include o-clickable--hollow; }
  &--active { @include o-clickable--active-text; }

  &--expanded {
    @include o-clickable--expanded;
    height: 100%;
  }
}
