@import '../../styles/common';

$m-subtitle__height: $co-component__height !default;

.m-subtitle {
  display: block;
  margin-bottom: 1rem;
  padding: 0 $co-margin;
  line-height: $m-subtitle__height;

  &__text {
    display: inline;
    color: $co-color__fg__text;
    font-size: 1rem;
    font-weight: bold;
  }

  &--hr {
    border-width: 1px 0;
    border-style: solid;
    border-color: $co-color__fg__border;
  }
}
