@import '../../styles/common';
@import '../../styles/util/breakpoint';

.l-page-container {
  max-width: $co-site-width;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0;
  padding-left: 0;

  @include breakpoint(medium) {
    padding-right: map_get($co-page-container-paddings, 'medium');
    padding-left: map_get($co-page-container-paddings, 'medium');
  }

  @include breakpoint(xlarge) {
    padding-right: map_get($co-page-container-paddings, 'xlarge');
    padding-left: map_get($co-page-container-paddings, 'xlarge');
  }
}
