@import '../../../../../../styles/common';
@import '../../../../../../styles/object/o-navigation';
@import '../../../../../../styles/object/o-pi-border.scss';

.m-tab {
  border-top: $pi-border__size solid $pi-border__color;

  &__icon {
    margin-right: $co-component__spacing;

    &::before {
      display: inline-block;
      vertical-align: middle;
      width: $co-component__height/1.5;
      height: $co-component__height/1.5;
      border-radius: $co-component__height / 3;
      line-height: $co-component__height / 1.5;
      text-align: center;
    }
  }

  @each $name, $color in $privacy-palette {
    &--#{$name} {
      border-top: $pi-border__size solid $color;
    }
  }
}
