@import '../../../../../../styles/common';

.m-tour-portal {
  display: flex;
  flex-flow: row wrap;
  background: $co-color__fg__back;
  color: $co-color__fg__text--lower;

  &__badge,
  &__close {
    border-bottom: 1px solid $co-color__bg__back;
  }
  &__badge {
    flex: 1 0;
    padding-left: map-get($co-form__spacing, 'medium');
    line-height: $co-component__height;
  }

  &__close {
    flex: 0 1;
  }

  &__content {
    flex: 1 0 100%;
    padding-right: map-get($co-form__spacing, 'medium');
    padding-left: map-get($co-form__spacing, 'medium');
  }

  &__controls {
    flex: 1 0 100%;
    padding-right: map-get($co-form__spacing, 'medium');
    padding-bottom: map-get($co-form__spacing, 'small');
    padding-left: map-get($co-form__spacing, 'medium');
  }
}
