@import '../../../../styles/vendor/bootstrap_foundation-sites';

.m-tag-list {

  &__item {
    padding-right: 0;
    padding-left: 0;
  }

  &__tag {
    color: $co-color__fg__text--lower;
    font-weight: 400;
    line-height: $co-font__line-height;

    &--active {
      color: $co-color__fg__text--higher;
      font-weight: 600;
    }
  }
}
