@import '../../../../styles/vendor/bootstrap_foundation-sites';

.m-tag-list {

  &__tag {
    color: $co-color__fg__text--lower;
    font-weight: 400;

    &--active {
      color: $co-color__fg__text--higher;
      font-weight: 600;
    }
  }
}
