@import '../../../../styles/common';

$s-author-avatar__size: 40px;
$s-author-avatar__padding: 0;

.s-author-avatar {
  display: inline-block;
  vertical-align: middle;

  width: $s-author-avatar__size;
  height: $s-author-avatar__size;

  border-radius: 50%;
  background-color: $co-color__primary--low;
  overflow: hidden;

  &__letter {
    &::before {
      display: block;
      float: left;
      width: $s-author-avatar__size;
      height: $s-author-avatar__size;
      line-height: $s-author-avatar__size;
      text-align: center;
    }
  }
}
