@import '../../styles/common';

@keyframes m-loading__spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}

.m-spinner {
  $baseName: &;
  &--inline-block {
    display: inline-block;
    padding: ($co-margin / 2);
  }

  &__icon {
    display: inline-block;
    font-size: 1rem;

    animation: m-loading__spin 0.5s infinite linear;

    svg {
      path {
        fill: $co-color__fg__text--higher;
      }
    }
  }
  &--bright {
    #{$baseName}__icon {
      svg {
        path {
          fill: $co-color__contrast__text;
        }
      }
    }
  }
}
