@import '../../../../styles/common';

$gridColor: $co-color__fg__back--lower;

.m-pi-graph {
  display: block;
  max-width: map-get($co-pi-width, 'graph');
  margin-right: auto;
  margin-left: auto;
  pointer-events: none;

  &__line {
    stroke: $gridColor;
    stroke-width: 0.7;
    fill: none;
  }

  &__outline {
    fill: transparent;
    stroke: $gridColor;
    stroke-width: 0.7;
  }

  &__shape {
    fill: $co-color__privacy;
    stroke: none;
  }
}
