@import '../../../../styles/common';
@import '../../../../styles/vendor/bootstrap_foundation-sites';

.m-user-info {
  @include flex-grid-row;
  align-items: center;

  &__avatar {
    @include flex-grid-column(shrink);
  }

  &__username {
    @include flex-grid-column;
    overflow: hidden;
    color: $co-color__fg__text;
    font-weight: 600;
  }
}
