@import '../../../../styles/common';
@import '../../../../styles/vendor/bootstrap_foundation-sites';

$l-header__height: 52px !default;
$l-header__brand-icon-height: 32px !default;
$l-header__margin: ($co-margin / 2) !default;

.l-header {
  height: $l-header__height;

  &__wrapper {
    @include flex-grid-row($size: expand);
    position: fixed;
    z-index: $l-z-index__header;

    width: 100%;
    min-height: $l-header__height;
    background: $co-color__fg__back;
    box-shadow: $co-shadow;
  }

  &__brand {
    @include flex-grid-column;
    height: $l-header__height;
    padding: 0 $co-margin;
    line-height: $l-header__height;
    display: none;
  }

  &__menu-icon {
    margin-right: ($co-margin / 2);

    border: 0;
    background: transparent;
  }

  &__brand-icon {
    vertical-align: middle;
    height: $l-header__brand-icon-height;
  }

  &__take-a-tour,
  &__user {
    display: none;
    height: $l-header__height;
    line-height: $l-header__height;
  }

  &__search {
    height: $l-header__height;
    line-height: $l-header__height;
    margin-left: auto;
    padding-right: $co-component__spacing;
    flex: 0 1;
  }

  &__toggle-nav,
  &__search-toggler {
    @include flex-grid-column(shrink);
    height: $l-header__height;
    line-height: $l-header__height;
  }

  @include breakpoint(medium) {
    &__wrapper { box-shadow: none; }
    &__toggle-nav { display: none; }
    &__brand {
      @include flex-grid-size(shrink);
      display: block;
    }
    &__take-a-tour,
    &__user { @include flex-grid-size(shrink); }

    &__take-a-tour,
    &__user {
      display: block;
    }
    &__user {
      padding-right: $co-margin;
    }
  }
}
