@import '../../../../styles/common';
@import '../../../../styles/vendor/bootstrap_foundation-sites';

.m-tag-input {
  @include flex-grid-row;
  margin-bottom: map-get($co-form__spacing, 'small');
  background: $co-color__fg__back;

  &__button {
    @include flex-grid-size;
    line-height: $co-component__height;
    text-align: left;
    &:hover {
      background: $co-color__fg__back;
    }
  }
  &__input {
    @include flex-grid-size;
  }
  &__delete {
    @include flex-grid-size(shrink);
    line-height: $co-component__height;
  }
  &__errors {
    @include flex-grid-column(12);
  }
}
