@import '../../../../styles/common';
@import '../../../../styles/vendor/bootstrap_foundation-sites';

.m-provider-button-container {
  @include flex-grid-row($size: expand);
  background-color: #f8f8f8;

  &__button {
    @include flex-grid-size(4);
  }

  &__label {
    @include flex-grid-size(8);
    padding: map_get($co-margin_, 'xsmall') map_get($co-margin_, 'small');
    color: $co-color__fg__text--high;
  }
}
