@import '../../../../styles/common';
@import '../../../../styles/object/o-form-element';

.m-reply-excerpt {
  width: 100%;
  height: $co-component__height;
  padding: $co-component__spacing;
  background: $co-color__fg__back;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $co-color__fg__text;
  white-space: nowrap;
}
