@import '../../../../styles/vendor/bootstrap_foundation-sites';

.m-message-selector {

    @include flex-grid-row($size: expand);
    align-items: center;
    height: $co-component__height;
    background-color: $co-color__bg__back--high;

  &__title,
  &__checkbox {
    @include flex-grid-column(shrink);
  }

  &__title {
    color: $co-color__primary--lower;
    font-size: $co-font__size--xsmall;
    font-weight: 700;
  }

  &__actions {
    @include flex-grid-size(shrink);
  }
}
