@import '../../styles/common';
@import '../../styles/vendor/bootstrap_foundation-sites';

.m-device {

  &__fieldset {
    margin-bottom: map-get($co-form__spacing, 'large');
  }

  &__pi {
    padding-top: map-get($co-form__spacing, 'small');
    padding-bottom: map-get($co-form__spacing, 'small');
  }

  &__ip {
    @include flex-grid-row;
    margin-bottom: map-get($co-form__spacing, 'small');

    &-input {
      @include flex-grid-size;
    }

    &-button {
      @include flex-grid-size(shrink);
    }
  }

  dt {
    float: none;
    margin-bottom: map-get($co-form__spacing, 'small');
    font-weight: normal;
  }

  dd {
    margin-bottom: map-get($co-form__spacing, 'large');
    margin-left: 0;
  }

  &__infos {
    display: block;
    padding: map-get($co-form__spacing, 'xsmall') map-get($co-form__spacing, 'small');
    border: 1px solid $co-color__fg__border--lower;
    color: $co-color__fg__text;
  }

  &__revoke-button {
    margin: auto;
  }
}
