{
  "presets": [
    "es2015",
    "react",
    "stage-2",
    "lingui-react",
    "flow"
  ],
  "plugins": [
    "transform-decorators-legacy"
  ],
  "env": {
    "test": {
      "plugins": ["dynamic-import-node"]
    }
  }
}
