{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "root": true,
  "env": {
    "browser": true,
    "jest": true,
    "jasmine": true,
    "protractor": true
  },
  "rules": {
    "newline-before-return": "error",
    "import/no-extraneous-dependencies": ["error", {"devDependencies": ["**/*.spec.js", "**/*.spec.jsx"]}]
  },
  "globals": {
    "inject": true,
    "Foundation": true,
    "jQuery": true,
    "jest": true,
    "BUILD_TARGET": true,
    "CALIOPEN_ENV": true
  }
}
