@import '../../../../styles/common';
@import '../../../../styles/vendor/bootstrap_foundation-sites';

.m-instant-message +.s-mail-message {
  margin-top: 2rem;
}

.s-mail-message {
  margin-bottom: 1rem;

  &__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: stretch;
    background-color: white;
  }

  &__info {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 0;
    flex-wrap: wrap;
    order: 0;
    width: 100%;
    padding: 1rem;
    background-color: #eeeeee;

  }


  &__tags {
    margin-top: $co-component__spacing;
  }

  &__tag {
    display: inline-block;
    margin-right: $co-component__spacing;
  }

  &__participants, &__tags {
    display: none;
  }

  &__details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 1rem;
    padding: 0.5rem 0;
    border-bottom: 1px solid #f9f9f9;
    color: grey;

    &--what-who-when {
      display: inline;
      font-size: 0.825rem;
    }

    &-to {
      flex-grow: 1;
      font-size: 0.825rem;
      text-align: right;
    }

    &-from, &-to {
      color: #515151;
      text-decoration: none;
    }
  }

  &__container {
    flex-grow: 1;
  }

  &__content, &__subject {
    padding: $co-component__spacing;
    border-bottom: 1px solid #f9f9f9;
    color: #515151;
  }

  &__content {
    padding-bottom: 3rem;
  }

  &__actions {
    background-color: #ecf9ff;
    font-size: 0.88rem;
    text-align: right;
  }

  @include breakpoint(medium) {
    &__wrapper {
      display: grid;
      grid-template-columns: 13rem 1fr;
      grid-template-rows: $co-component__height 1fr;
    }

    &__info {
      grid-column: 1;
      grid-row: 1 / span 2;
      float: left;
      flex-direction: column;
      order: -1;
      width: 13rem;
      height: 100%;
      padding: 3rem 1.5rem;
    }

    &__details {
      grid-column: 2;
      grid-row: 1/1;
      max-width: 62rem;
      height: $co-component__height;
    }

    &__container {
      grid-column: 2;
      grid-row: 2;
    }

    &__participants, &__tags {
      display: block;
    }

    &__participants-from, &__participants-to {
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: $co-font__size--small;

      a, a:visited {
        color: #515151;
        font-weight: 600;
      }
    }

    &__content, &__subject {
      margin-right: 6rem;
      margin-left: 6rem;
    }

    &__actions {
      padding: 0 6rem;
    }
  }
}

.super {
  .s-mail-message__info {
    background-color: #edfffc;
  }
}

.good {
  .s-mail-message__info {
    background-color: #edfffc;
  }
}

.bad {
  .s-mail-message__info {
    background-color: #edfffc;
  }
}

.ugly {
  .s-mail-message__info {
    background-color: #fff4f7;
  }
}
