// ok
.m-letter--none {
  &::before {
    content: ' ';
    height: 100%;
    background-color: SteelBlue;
  }
}

.m-letter--checked {
  &::before {
    content: '✓';
  }
}

.m-letter--plus {
  &::before {
    content: '+';
    background-color: DarkCyan;
  }
}

.m-letter--a {
  &::before {
    content: 'A';
    background-color: CornflowerBlue;
  }
}

.m-letter--b {
  &::before {
    content: 'B';
    background-color: SlateGray;
  }
}

.m-letter--c {
  &::before {
    content: 'C';
    background-color: Peru;
  }
}

.m-letter--d {
  &::before {
    content: 'D';
    background-color: Tomato;
  }
}

.m-letter--e {
  &::before {
    content: 'E';
    background-color: FireBrick;
  }
}

.m-letter--f {
  &::before {
    content: 'F';
    background-color: ForestGreen;
  }
}

.m-letter--g {
  &::before {
    content: 'G';
    background-color: DarkOrchid;
  }
}

.m-letter--h {
  &::before {
    content: 'H';
    background-color: DarkSlateBlue;
  }
}

.m-letter--i {
  &::before {
    content: 'I';
    background-color: PaleVioletRed;
  }
}

.m-letter--j {
  &::before {
    content: 'J';
    background-color: MediumOrchid;
  }
}

.m-letter--k {
  &::before {
    content: 'K';
    background-color: DarkOliveGreen;
  }
}

.m-letter--l {
  &::before {
    content: 'L';
    background-color: LightSkyBlue;
  }
}

.m-letter--m {
  &::before {
    content: 'M';
    background-color: DarkKhaki;
  }
}

.m-letter--n {
  &::before {
    content: 'N';
    background-color: OliveDrab;
  }
}

.m-letter--o {
  &::before {
    content: 'O';
    background-color: MediumPurple;
  }
}

.m-letter--p {
  &::before {
    content: 'P';
    background-color: CadetBlue;
  }
}

.m-letter--q {
  &::before {
    content: 'Q';
    background-color: SaddleBrown;
  }
}

.m-letter--r {
  &::before {
    content: 'R';
    background-color: MidnightBlue;
  }
}

.m-letter--s {
  &::before {
    content: 'S';
    background-color: Teal;
  }
}

.m-letter--t {
  &::before {
    content: 'T';
    background-color: Turquoise;
  }
}

.m-letter--u {
  &::before {
    content: 'U';
    background-color: OrangeRed;
  }
}

.m-letter--v {
  &::before {
    content: 'V';
    background-color: SeaGreen;
  }
}

.m-letter--w {
  &::before {
    content: 'W';
    background-color: Olive;
  }
}

.m-letter--x {
  &::before {
    content: 'X';
    background-color: DarkMagenta;
  }
}

.m-letter--y {
  &::before {
    content: 'Y';
    background-color: Indigo;
  }
}

.m-letter--z {
  &::before {
    content: 'Z';
    background-color: Chocolate;
  }
}
