@import '../../../../styles/common';

.m-discussion-item-actions-container {
  position: relative;

  &__action {
    border-right: 1px solid $co-color__fg__border;
  }

  &--active {
    background-color: $co-color__primary--lower;

    &__actions {
      position: absolute;
      top: 0;
      right: 0;
      text-align: right;
    }
  }
}
