@import '../../../../styles/common';
@import '../../../../styles/vendor/bootstrap_foundation-sites';

.s-message-item {
  @include flex-grid-row($size: expand);
  align-items: center;
  min-height: $co-component__height;
  background-color: $co-color__fg__back--low;

  &::before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 7px;
    background: transparent;
  }

  &--pi-ugly {
    &::before {
      background: map-get($privacy-palette, 'ugly');
    }
  }

  &--pi-bad {
    &::before {
      background: map-get($privacy-palette, 'bad');
    }
  }

  &--pi-good {
    &::before {
      background: map-get($privacy-palette, 'good');
    }
  }

  &--pi-super {
    &::before {
      background: map-get($privacy-palette, 'super');
    }
  }

  &--draft,
  &--unread {
    position: relative;
    background-color: $co-color__fg__back;
    color: $co-color__fg__text;
  }

  &--is-selected {
    background-color: $co-color__bg__back--higher;
  }

  &__col-avatars {
    @include flex-grid-column(shrink);
  }

  &__col-title {
    @include flex-grid-size;
    min-width: 0; // https://github.com/zurb/foundation-sites/pull/8511
  }

  &__title-content {
    @include flex-grid-row($size: expand);
  }

  &__title-author {
    @include flex-grid-column(12);
    font-weight: 600;
    color: $co-color__primary--lower;
  }

  &__title-subject {
    @include flex-grid-column(12);
  }

  &__col-file {
    @include flex-grid-column(shrink);
    display: none;
  }

  &__col-dates {
    @include flex-grid-size(2);
    text-align: right;
  }

  &__col-select {
    @include flex-grid-column(shrink);
    display: none;
  }

  @include breakpoint(medium) {
    &__col-select,
    &__col-file { display: block; }

    &__title-author {
      @include flex-grid-size(shrink);
      padding-right: 0;
      padding-left: 0;
    }

    &__title-subject {
      @include flex-grid-column;
    }
  }
}
