@import '../../styles/common';
@import '../../styles/object/o-form-element';
@import '../../styles/vendor/bootstrap_foundation-sites';

.l-settings {
  &__nav {
    padding-top: $co-component__spacing;
    padding-bottom: $co-component__spacing;
    background: $co-color__fg__back;
  }

  &__panel {
    padding-top: $co-margin;
  }

  @include breakpoint(medium) {
    &__nav {
      padding-top: 0;
    }
  }
}
