@import '../../styles/common';
@import '../../styles/object/o-form-element';
@import '../../styles/vendor/bootstrap_foundation-sites';

.l-settings {
  &__nav {
    padding-bottom: map-get($co-form__spacing, 'small');
    background: $co-color__fg__back;
  }

  &__panel {
    padding-top: $co-margin;

  }
}
