@import '../../../../styles/common';
@import '../../../../styles/vendor/bootstrap_foundation-sites';

.m-contacts-filters {

  &__select {
    @include flex-grid-row;
    margin-bottom: map-get($co-form__spacing, 'small');

    label {
      @include flex-grid-column(shrink);
      height: $co-component__height;
      line-height: $co-component__height;
    }

    select {
      @include flex-grid-column;
    }
  }
}
