@import '../../styles/common';
@import '../../styles/vendor/bootstrap_foundation-sites';

.s-tags-settings {
  @include flex-grid-row($size: expand);
  padding: $co-margin ($co-margin / 2);
  background: $co-color__fg__back;

  &__tags,
  &__create {
    @include flex-grid-column(12);
  }

  @include breakpoint(medium) {
    &__tags,
    &__create {
      @include flex-grid-column(6);
    }
  }
}
