@import '../../../../styles/object/o-pi-border.scss';

.l-navigation {
  margin-bottom: $pi-border__size * -1;

  &::after {
    display: block;
    content: " ";
    position: relative;
    top: $pi-border__size * -1;
    z-index: 1;
    border-bottom: $pi-border__size solid $pi-border__color;
  }

  &__compose-item {
    display: none;
    border-top: none;

    &--sticky {
      display: inline-block;
    }
  }
  &__compose-btn {
    padding: 0 .5rem;
    color: white;
  }
}
