@import '../../../../styles/common';
@import '../../../../styles/vendor/bootstrap_foundation-sites';

.l-navigation {
  max-width: $co-site-width;
  margin-right: auto;
  margin-left: auto;

  &__wrapper {
    @include flex-grid-row($size: expand);
    position: fixed;
    z-index: $l-z-index__navbar;
    width: 100%;
    max-width: $co-site-width;
    min-height: $co-component__height;
    padding-top: .75rem;
    transition: $co-animation__margin-transition;
    background-color: $co-color__bg__back;

    &::after {
      display: block;
      content: ' ';
      z-index: $l-z-index__navbar-shadow;
      width: 100%;
      height: $co-component__spacing;
      transition: $co-animation__box-transition;
      background-color: $co-color__fg__back;
    }

    &--sticky {
      padding-top: .25rem;

      &::after {
        box-shadow: $co-shadow;
      }
    }
  }

  &__application-switcher {
    @include flex-grid-column(shrink, 0);
  }

  &__tab-list {
    @include flex-grid-column($gutters: 0);
  }

  &__sliders-toggle {
    @include flex-grid-column(shrink, 0);
  }

  &__sliders-toggle-button {
    color: $co-color__importance;
  }

  &__sliders-dropdown {
    width: calc(1 + 2 * 1rem); // width of the toggle button: icon width + padding
    height: 50vh;
    background-color: $co-color__fg__back;
    box-shadow: $co-shadow;
    white-space: nowrap;
  }

  &__sliders-container {
    height: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;

    // SHAME: force center slider
    // and prevent closing Dropdown when releasing mouse outside of the slider
    .rc-slider {
      margin-right: auto;
      margin-left: auto;
    }
  }
}
