@import '../../../../styles/common';
@import '../../../../styles/vendor/bootstrap_foundation-sites';

.m-password-form {
  &__row {
    align-items: flex-end;
    margin-bottom: map-get($co-form__spacing, 'large');
  }

  &__tip {
    display: none;
    font-size: $co-font__size--small;
  }

  &__action {
    line-height: $co-component__height;
  }
  &__strength {
    margin-top: map-get($co-form__spacing, 'small');
  }

  @include breakpoint(medium) {
    &__tip {
      display: inline-block;
      height: $co-component__height;
    }
  }
}
