@import '../../styles/common';
@import '../../styles/vendor/bootstrap_foundation-sites';

.s-account {
  @include flex-grid-row($size: expand);

  &__col-datas-irl {
    @include flex-grid-column(12);
  }

  &__col-datas-online {
    @include flex-grid-column(12, 0);
  }

  &__openpgp {
    margin-top: $co-margin;
    padding: $co-component__spacing;
  }

  &__email {
      padding: $co-component__spacing;
  }

  @include breakpoint(medium) {
    &__col-datas-irl { @include flex-grid-size(5); }
    &__col-datas-online { @include flex-grid-size(7); }
  }

  @include breakpoint(large) {
    &__col-datas-irl { @include flex-grid-size(4); }
    &__col-datas-online { @include flex-grid-size(8); }
  }
}
