@import '../../../../styles/vendor/bootstrap_foundation-sites';

.m-toggle-advanced-draft-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-top: 0.375rem;
  background-color: #07b798;
  font-size: 1.3rem;
}
