@import '../../../../styles/common';
@import '../../../../styles/vendor/bootstrap_foundation-sites';

$gridColor: $co-color__fg__back--higher;

.m-pi-ratings {
  max-width: $co-pi-width;
  margin-right: auto;
  margin-left: auto;
  font-size: $co-font__size--xsmall;
  font-weight: 600;

  &__item {
    @include flex-grid-row;
    align-items: center;
  }

  &__item-name {
    @include flex-grid-size(4);
    text-align: right;
  }

  &__item-level-label {
    @include flex-grid-size(shrink);
    padding: $co-component__spacing;
  }

  &__item-level {
    @include flex-grid-size;
    background: $co-color__fg__back--low;
    text-align: right;
  }

  &__item-level-bar {
    height: $co-component__height / 2;
    transition: .5s width;
    background: $co-color__privacy;
    line-height: $co-component__height / 2;
  }

  &__item-name-label {
    padding-right: $co-component__spacing;
    text-transform: uppercase;
  }

  &--mini {
    .m-pi-ratings__item-level {
      width: $co-component__height;
      margin: 2px 0;
    }

    .m-pi-ratings__item-level-bar {
      height: 4px;
      line-height: 4px;
    }

    .m-pi-ratings__item-level-label,
    .m-pi-ratings__item-name-label {
      display: none;
    }
  }
}
