@import '../../../../styles/common';
@import '../../../../styles/vendor/bootstrap_foundation-sites';

$gridColor: $co-color__fg__back--higher;
$mini-pi__width: 2rem;
$mini-pi-bar__height:  .35rem;
$mini-pi-bar__margin: .25rem;

.m-pi-ratings {
  max-width: $co-pi-width + 2rem;
  margin-right: auto;
  margin-left: auto;
  font-size: $co-font__size--xsmall;
  font-weight: 600;

  &__item {
    @include flex-grid-row;
    align-items: center;
    margin-top: $co-component__spacing;
  }

  &__item-name {
    @include flex-grid-size(5);
    padding-right: $co-component__spacing;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
    text-transform: uppercase;
  }

  &__item-level {
    @include flex-grid-size(5);
    background: $co-color__fg__back--low;
  }

  &__item-level__label {
    @include flex-grid-size(2);
    text-align: center;
  }

  &__item-level__bar {
    height: $co-component__height / 3;
    transition: .5s width;
    background: $co-color__privacy;
    line-height: $co-component__height / 3;
  }

  &--mini {
    max-width: $mini-pi__width;
    cursor: help;

    &__item {
      display: block;
      width: $mini-pi__width;
      max-width: 100%;
      margin: $mini-pi-bar__margin 0;
    }

    &__item-level {
      display: block;
      width: $mini-pi__width;
      max-width: 100%;
    }

    &__item-level__bar {
      height: $mini-pi-bar__height;
    }

    &__item-level__label,
    &__item-name {
      display: none;
    }
  }
}
