@import '../../styles/common';
@import '../../styles/object/o-avatar';

.m-avatar {
  display: inline-block;
  vertical-align: middle;
  border-radius: $co-radius;
  background-color: $co-color__fg__back;
  overflow: hidden;

  &__letter {
    &::before {
      display: block;

      color: $co-color__fg__text--high;
      text-align: center;
    }
  }

  @include m-avatar--size(medium);

  &--small  { @include m-avatar--size(small);  }
  &--medium { @include m-avatar--size(medium); }
  &--large  { @include m-avatar--size(large);  }
  &--xlarge { @include m-avatar--size(xlarge); }
  &--xxlarge { @include m-avatar--size(xxlarge); }

  &--round  { border-radius: 50%}

}
