@import '../../styles/common';

$m-avatar__size: (
  small:  2rem,
  medium: 3rem,
  large:  4rem,
  xlarge: 6rem
);

@mixin m-avatar--size($size) {
  @if type-of($size) == string {
    $size: map-get($m-avatar__size, $size);
  }

  width: $size;
  height: $size;

  &__letter {
    &::before {
      font-size: $size * .75;
      line-height: $size;
    }
  }
}

.m-avatar {
  display: inline-block;
  vertical-align: middle;
  border-radius: $co-radius;
  background-color: $co-color__fg__back;
  overflow: hidden;

  &__letter {
    &::before {
      display: block;

      color: $co-color__fg__text--high;
      text-align: center;
    }
  }

  @include m-avatar--size(medium);

  &--small  { @include m-avatar--size(small);  }
  &--medium { @include m-avatar--size(medium); }
  &--large  { @include m-avatar--size(large);  }
  &--xlarge { @include m-avatar--size(xlarge); }
}
