@import '../../styles/common';
@import '../../styles/object/o-form-element';

@mixin input-text {
  @include o-form-element;

  &--dark {
    @include o-form-element--dark;
  }
  &--light {
    @include o-form-element--light;
  }
  &--contrasted {
    @include o-form-element--contrasted;
  }

  &--expanded {
    width: 100%;
  }

  &--error {
    box-shadow: inset 0 0 0 1px $co-color__alert;
    color: $co-color__fg__text;

    &:focus {
      color: $co-color__fg__text;
    }
  }
  &--bottom-space {
    margin: 0 0 map-get($co-form__spacing, 'medium');
  }
}

.m-input-text {
  @include input-text;
}
