@import '../../../../styles/common';
@import '../../../../styles/vendor/bootstrap_foundation-sites';

.m-device-form {
  &__fieldset {
    margin-bottom: map-get($co-form__spacing, 'large');
  }

  &__location-group {
    display: flex;
    flex-flow: row wrap;
  }

  &__location-address {
    @include flex-grid-size;
    margin-right: map-get($co-form__spacing, 'small');
  }

  &__location-type {
    @include flex-grid-size(shrink);
  }
}
