@import '../../styles/vendor/bootstrap_foundation-sites';

.m-menu-bar {
  padding: $co-component__spacing;
  border-bottom: 1px solid $co-color__bg__back;
  background: $co-color__fg__back;

  @include breakpoint(medium) {
    padding-top: 0;
  }
}
