@import '../../styles/common';
@import '../../styles/vendor/bootstrap_foundation-sites';

.m-tags {

  &__header {

    &-count {
      padding-left: map-get($co-form__spacing, 'small');
      color: $co-color__fg__text--lower;
      font-weight: 400;
    }
  }

  &__form { margin-bottom: map-get($co-form__spacing, 'large');}
  &__search {@include flex-grid-row($size: expanded);}
  &__search-input { @include flex-grid-size; }

  &__list { margin-bottom: map-get($co-form__spacing, 'large');}

  &__item {
    @include flex-grid-row($size: expanded);
    height: $co-component__height;
    margin-bottom: map-get($co-form__spacing, 'small');
    line-height: $co-component__height;

    &--button {
      background: $co-color__fg__back--high;
      &:hover { background: $co-color__fg__back--higher;  }
    }


  }

  &__text { @include flex-grid-size(shrink); }

  &__icon {
    @include flex-grid-size(shrink);
    margin-left: auto;
    line-height: $co-component__height;
  }

  &__item-input { @include flex-grid-size; }
}
