@import '../../styles/common';
@import '../../styles/vendor/bootstrap_foundation-sites';

.s-user-profile {
  @include flex-grid-row($size: expand);
  margin-top: $co-margin;

  &__info {
    @include flex-grid-column(12);
  }

  &__details {
    @include flex-grid-column(12);
  }

  &__delete {
    float: right;
  }

  @include breakpoint(medium) {
    &__info {
      @include flex-grid-size(4);
    }
    &__details {
      @include flex-grid-size(8);
    }
  }

  @include breakpoint(large) {
    &__info {
      @include flex-grid-size(3);
    }
    &__details {
      @include flex-grid-size(9);
    }
  }
}
