@import '../../../../styles/common';
@import '../../../../styles/vendor/bootstrap_foundation-sites';

$s-discussion-item__spacing: 0.5rem;

.s-discussion-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  border-left: 0.5rem solid $co-color__fg__back--lower;
  background-color: $co-color__fg__back--low;
  line-height: 3rem;

  &--ugly {
    border-left: 0.5rem solid map_get($privacy-palette, 'ugly');
  }

  &--bad {
    border-left: 0.5rem solid map_get($privacy-palette, 'bad');
  }

  &--good {
    border-left: 0.5rem solid map_get($privacy-palette, 'good');
  }

  &--super {
    border-left: 0.5rem solid map_get($privacy-palette, 'super');
  }

  &--is-unread {
    background-color: $co-color__fg__back;
  }

  &__message-type {
    justify-self: flex-end;
    margin: 0 $s-discussion-item__spacing;
 }

  &__tags {
    display: flex;
    flex: 1 1 0;
    flex-direction: row;
    margin: 0 $s-discussion-item__spacing;
  }

  &__tag {
    margin: 0 0.25rem;

    @include breakpoint(small) {
      display: none;
    }
  }

  &__participants {
    flex-shrink: 1;
    width: auto;
    min-width: 20%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $co-blue;
    white-space: nowrap;

    @include breakpoint(medium) {
      flex: 0 0 10.1rem;
      width: 10.1rem;
      margin-right: $s-discussion-item__spacing;
    }
  }

  &__message_excerpt {
    flex: 1 2 auto;
    min-width: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $co-color__fg__text--higher;
    font-weight: 400;
    text-decoration: none;
    white-space: nowrap;
  }

  &__message_subject {
    color: $co-color__fg__text--lower;
    font-weight: 800;
  }

  &__message-date {
    flex: 0 1 auto;
    margin: auto $s-discussion-item__spacing;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
    white-space: nowrap;
  }

  &__select {
    display: inline-block;
    flex-grow: 0;
    flex-shrink: 0;
    margin: auto $s-discussion-item__spacing auto 1rem;

    @include breakpoint(small) {
      display: none;
    }
  }
}

.m-participants-icon {
    flex: 0 0 auto;
    margin: auto $s-discussion-item__spacing;
    color: $co-color__contrast__text;
    line-height: 2rem;

    .fa {
        color: $co-color__contrast__text--lower;
    }
}
