@import '../../styles/common';

.m-text-block {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;

  &--nowrap {
    white-space: nowrap;
  }

  &--inline {
    display: inline-block;
  }

  &--small {
    font-size: $co-font__size--xsmall;
    line-height: $co-font__size--xsmall;
  }

  &--strong {
    font-weight: 700;
  }
}
