@import '../../styles/common';

.m-text-block {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &--inline {
    display: inline-block;
  }

  &--small {
    font-size: $co-font__size--small;
    line-height: $co-font__size--small;
  }

  &--strong {
    font-weight: 700;
  }

}
