@import '../../styles/common';
@import '../../styles/vendor/bootstrap_foundation-sites';

.s-contact {
  @include flex-grid-row($size: expand);
  padding: $co-margin ($co-margin / 2);
  background: $co-color__fg__back;

  &__menu-bar {
    @include flex-grid-size(12);
  }

  &__action-bar,
  &__edit-bar {
    @include flex-grid-row($size: expand);
    align-items: center;
    justify-content: space-between;
  }

  &__action,
  &__bar-title,
  &__actions-switcher {
    @include flex-grid-column(shrink);
  }

  &__action-delete,
  &__action {
    line-height: $co-component__height;
  }
  &__action-delete {
    @include flex-grid-size(shrink);
    // force expanded like other action buttons
    display: block;
  }

  &__bar-title {
    font-weight: 600;
  }

  &__col-datas-irl {
    @include flex-grid-column(12);
  }

  &__col-datas-online {
    @include flex-grid-column(12);
  }

  @include breakpoint(medium) {
    &__col-datas-irl { @include flex-grid-column(4); }
    &__col-datas-online { @include flex-grid-column(8); }
  }

  @include breakpoint(large) {
    &__col-datas-irl { @include flex-grid-column(3); }
    &__col-datas-online { @include flex-grid-column(9); }
  }
}
