* {
  // Remove Chrome focus blue shadow
  &:focus {
    outline: none;
  }
}

button, input, optgroup, select, textarea {
  // force custom font-family on form elements
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, 'Roboto', Arial, sans-serif;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

legend {
  max-width: 100%;
  margin: 0;
}

dd,
dl,
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

pre {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  white-space: pre-wrap;
  word-wrap: break-word;
}

blockquote {
  margin: 0;
}
