@import '../../../../../../styles/common';
@import '../../../../../../styles/vendor/bootstrap_foundation-sites';

.m-device {

  &__row {
    padding: map-get($co-form__spacing, 'small') map-get($co-form__spacing, 'large');

    &--separated {
      border-top: 1px solid $co-color__bg__back;
    }
  }

  &__title {
    padding-top: map-get($co-form__spacing, 'large');
    padding-bottom: map-get($co-form__spacing, 'large');
    text-align: center;
  }

  &__ip-list {
    margin-top: map-get($co-form__spacing, 'small');
    border-bottom: 1px solid $co-color__fg__back--high;
  }

  &__ip {
    border-top: 1px solid $co-color__fg__back--high;
  }

  &__pi {
    width: 100%;
  }

  &__infotext {
    font-size: 90%;
  }

  &__submit {
    display: inline-block;
  }
}
