@import '../../../../../../styles/common';
@import '../../../../../../styles/vendor/bootstrap_foundation-sites';

.m-device {

  &__row {
    padding: map-get($co-form__spacing, 'small') map-get($co-form__spacing, 'large');

    &--separated {
      border-top: 1px solid $co-color__bg__back;
    }
  }

  &__title {
    padding-top: map-get($co-form__spacing, 'large');
    padding-bottom: map-get($co-form__spacing, 'large');
    text-align: center;
  }

  &__ip {
    @include flex-grid-row;
    margin-bottom: map-get($co-form__spacing, 'small');

    &-input {
      @include flex-grid-size;
    }

    &-button {
      @include flex-grid-size(shrink);
      margin-left: 1px;
      background: $co-color__fg__back--lower;
      font-size: $co-font__size--small;
    }
  }

  &__pi {
    width: 100%;
  }

  &__type {

  }

  &__infotext {
    font-size: 90%;
  }

  &__submit {
    display: inline-block;
    text-align: center;
  }
}
