@import '../../../../styles/vendor/bootstrap_foundation-sites';

.m-message-list {
  position: relative;

  &__action { margin-right: $co-component__spacing; }

  &__load-more {
    padding-top: $co-margin;
    text-align: center;
  }

  &__reply-excerpt,
  &__reply {
    @include breakpoint(small) {
      position: fixed;
      right: 0;
      bottom: 0;
      left: 0;
      box-shadow: $co-shadow--higher;
    }
  }

  &__reply {
    @include breakpoint(small) {
      display: none;
    }
    @include breakpoint(medium) {
      display: block;
      position: static;
      box-shadow: none;
    }

    &--open {
      display: block;
    }
  }

  &__reply-excerpt {
    @include breakpoint(medium) {
      display: none;
    }

    &--close {
      display: none;
    }
  }
}
