@import '../../../../../../styles/common';

.m-item-button {
  display: inline-block;
  color: $co-color__primary--low;
  line-height: $co-component__height;

  &:hover   {
    background: none;
    color: $co-color__primary--high;
  }
  &:active  { color: $co-color__primary--lower; }
}
