@import '../../../../styles/common';
@import '../../../../styles/vendor/bootstrap_foundation-sites';

.m-password-details {
  @include flex-grid-row($size: expand);

  &__title {
    @include flex-grid-size(12);
    margin-bottom: $co-margin;
  }

  &__strength {
    @include flex-grid-size;
  }

  &__form {
    @include flex-grid-size(12);
  }

  &__action {
    @include flex-grid-size(shrink);
  }

  @include breakpoint(medium) {
    &__strength {
      @include flex-grid-size;
    }
    &__action {
      @include flex-grid-column(shrink);
    }
  }

  @include breakpoint(large) {
    &__strength {
      @include flex-grid-size(8);
    }
  }
}
