@import '../../styles/common';
@import '../../styles/object/o-triangle';

.m-dropdown {
  position: absolute;
  visibility: hidden;
  overflow-y: scroll;

  &--is-open {
    z-index: $l-z-index__actions-container;
    visibility: visible;
  }

  &--is-menu {
    background-color: $co-color__fg__back;
    box-shadow: $co-shadow;
  }

  &--has-triangle {
    &::before {
      @include o-triangle('top', 1rem, $co-color__primary--lower);
      right: 1rem;
    }
  }
}
