@import '../../styles/common';
@import '../../styles/object/o-triangle';

.m-dropdown {
  position: absolute;
  max-width: 100%; // prevent too large content on small screens
  visibility: hidden;
  overflow-y: auto;

  &--is-open {
    z-index: $l-z-index__dropdown;
    visibility: visible;
  }

  &--display-first-layer {
    z-index: $l-z-index__dropdown--first-layer !important;
  }

  &--is-menu {
    background-color: $co-color__fg__back;
    box-shadow: $co-shadow;
  }

  &--has-triangle {
    &::before {
      @include o-triangle('top', 1rem, $co-color__primary--lower);
      right: 1rem;
    }
  }
}
