@import '../../../../styles/common';

.l-call-to-action {
  position: fixed;
  right: 0;
  bottom: 0;
  // trick to prevent too easily hide buttons
  padding: $co-margin $co-margin / 2 $co-margin / 2 $co-margin;
}

.m-call-to-action {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &:focus,
  &:hover {

    .m-call-to-action__btn {
      display: block;
    }
  }

  &__btn {
    margin-bottom: 1rem;
    box-shadow: $co-shadow;
    display: none;

    &--principal {
      margin-bottom: 0;
      font-size: 1em;
      display: block;
    }
  }
}
