@import '../../styles/common';

.sticky-action-bar {
  position: fixed;
  top: 41px;
  right: 0;
  left: 0;
  background-color: white;
}

.s-timeline {
  background-color: white;

  &__action-bar {
    margin: 0 auto;
    background-color: white;

    &.sticky {
      position: fixed;
      top: 41px;
      right: 0;
      left: 0;
      background-color: white;

      .s-timeline__actions {
        padding: 0 40px;
      }
    }
  }

  &__load-more {
    margin: 1rem auto;
    text-align: center;
  }
}

.s-discussion-list {
  background-color: lightgrey;
}
