@import '../../../../styles/common';
@import '../../../../styles/vendor/bootstrap_foundation-sites';

// XXX: may be move to a layout component (do not forget that it can be recursive)
.m-action-bar-wrapper {
  background-color: $co-color__fg__back;
  &--sticky {
    position: fixed;
    // height of the related tab-bar above
    top: $co-component__height;
    right: 0;
    left: 0;
    z-index: $l-z-index__action-bar;
  }
}
