@import '../../../../styles/common';
@import '../../../../styles/vendor/bootstrap_foundation-sites';
@import '../../../../styles/object/o-pi-border.scss';

$navbar-item-height: 2.75rem + (rem_calc($pi-border__size) * 2); // $m-navbar-item-height

// XXX: may be move to a layout component (do not forget that it can be recursive)
.m-action-bar-wrapper {
  background-color: $co-color__fg__back;
  &--sticky {
    position: fixed;
    top: $navbar-item-height;
    right: 0;
    left: 0;
    z-index: $l-z-index__action-bar;
  }
}
