@import '../../styles/common';
@import '../../styles/config/config';
@import '../../styles/vendor/bootstrap_foundation-sites';

$switch_height: 2rem;

.s-signup {
  @include flex-grid-row;
  max-width: 380px;
}

.m-logo {
  @include flex-grid-column(12);
}

.m-signup-form {
  @include flex-grid-column(12);
  padding: 30px;
  background-color: $co-color__fg__back;

  &__submit {
    text-align: center;

    .m-link {
      font-size: $co-font__size--small;
    }
  }

  &__terms {
    @include flex-grid-row(collapse);
    margin: $co-margin 0;

    .m-switch {
      @include flex-grid-column(shrink);
    }
  }
}
