@import '../../styles/common';
@import '../../styles/config/config';
@import '../../styles/vendor/bootstrap_foundation-sites';

$switch_height: 2rem;

.s-signup {
  @include flex-grid-row;
  max-width: map_get($co-form__width, 'xlarge');


  .m-logo {
    @include flex-grid-column(12);
    text-align: center;

    path {
      fill: $co-color__fg__text--higher;
    }
  }

}



.m-signup-form {
  @include flex-grid-column;
  padding: $co-grid__gutter--small;
  background-color: $co-color__fg__back;

  &__terms {
    margin: $co-margin 0;

  }

  .m-switch {

    &__label {

    }


  }

  @include breakpoint(medium) {
    padding-right: 0;
  }
}
