@import '../../../../styles/common';

.m-orga-form {
  margin-bottom: $co-margin;

  &__icon {
    margin-right: $co-margin / 4;
  }

  &__action {
    margin-top: $co-margin;
    line-height: $co-component__height;
  }
}
