@import '../../../../styles/common';

.m-orga-form {
  margin-bottom: $co-margin;

  &__action {
    margin-top: $co-margin;
    line-height: $co-component__height;
  }

  &__switch {
    margin-top: $co-margin;
  }
}
