@import '../../styles/common';
@import '../../styles/vendor/bootstrap_foundation-sites';
@import '../../styles/object/o-triangle';


.m-multidimensional-pi {
  &__mini-pi {
    display: flex;
    position: relative;
    align-items: stretch;
    height: 100%;
  }

  &__toggle-mini-pi {
    flex: auto;

    &:hover,
    &:active {
      background: $co-color__fg__back--high;
    }
  }


  &__mini-graph {
    width: $co-pi-width;
    padding: $co-component__spacing;
    background: $co-color__fg__back--lower;
    box-shadow: $co-shadow;

    &::before {
      @include o-triangle('top', .75rem, $co-color__fg__back--lower);
      left: 1rem;
    }
  }
}
