@import '../../styles/common';

$m-badge__height: 1.5rem !default;
$m-badge__font-size: ($m-badge__height / 2) !default;
$m-badge--large__height: $co-component__height !default;
$m-badge--large__font-size: $co-font__size !default;

.m-badge {
  display: inline-block;
  height: $m-badge__height;
  padding-right: .5rem;
  padding-left: .5rem;
  background: $co-color__primary--low;
  color: $co-color__contrast__text;
  font-size: $m-badge__font-size;
  font-weight: 600;
  line-height: $m-badge__height;
  white-space: nowrap;

  &--no-radius {
    border-radius: 0;
  }

  &--normal-radius {
    border-radius: $co-radius;
  }

  &--rounded-radius {
    padding-right: $m-badge__height / 2;
    padding-left: $m-badge__height / 2;
    border-radius: ($m-badge__height / 2);
  }

  &--low {
    background: $co-color__primary--lower;
    color: $co-color__contrast__text--higher;
  }

  &--large {
    height: $m-badge--large__height;
    font-size: $m-badge--large__font-size;
    line-height: $m-badge--large__height;
  }
}
