@import '../../styles/common';
@import '../../styles/vendor/bootstrap_font-awesome';

.m-icon {
  &--spaced {
    margin-right: $co-margin / 4;
    margin-left: $co-margin / 4;
  }

  &--right-spaced {
    margin-right: $co-margin / 4;
  }

  &--svg svg {
    width: 1em;
    height: 1em;
  }
}

