@import '../../styles/common';
@import '../../styles/vendor/bootstrap_foundation-sites';

.s-user-privacy {
  @include flex-grid-row($size: expand);
  margin-top: $co-margin;

  &__pi {
    @include flex-grid-column(12);
  }

  &__info {
    @include flex-grid-column(12);
  }

  &__tips {
    list-style: inside disc;
  }

  &__tip {
    padding: $co-component__spacing 0;
  }

  @include breakpoint(medium) {
    &__pi {
      @include flex-grid-size(4);
    }

    &__info {
      @include flex-grid-column(8);
    }
  }
}
