@import '../../styles/common';

$m-title__height: $co-component__height !default;

.m-title {
  display: block;


  &__text {
    display: inline;
    color: $co-color__primary--lower;
    font-size: 1rem;
    font-weight: 700;
  }

  &--hr {
    border-width: 1px 0;
    border-style: solid;
    border-color: $co-color__fg__border;
    line-height: $m-title__height;
  }
}
