@import '../../styles/common';

$m-title__height: $co-component__height !default;

.m-title {
  display: block;
  width: 100%;
  line-height: $m-title__height;

  &__text {
    display: inline;
    color: $co-color__fg__text--lower;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  &--align-right {
    text-align: right;
  }

  &--align-center {
    text-align: center;
  }

  &--hr {
    border-width: 1px 0;
    border-style: solid;
    border-color: $co-color__fg__border--lower;
    background-color: lighten($co-color__bg__back--higher, 10%);
  }
}
