@import '../../../../styles/common';
@import '../../../../styles/vendor/bootstrap_foundation-sites';

.m-tag {
  @include flex-grid-row($size: expanded);
  height: $co-component__height;
  margin-bottom: map-get($co-form__spacing, 'small');
  background: $co-color__fg__back;

  &__text {
    @include flex-grid-size;
    line-height: $co-component__height;
    padding-left: map-get($co-form__spacing, 'small');
  }

  &__button {
    @include flex-grid-size(shrink);
  }
}
