@import '../../../../styles/common';
@import '../../../../styles/vendor/bootstrap_foundation-sites';

.m-tag {
  @include flex-grid-row($size: expanded);
  height: $co-component__height;
  margin-bottom: map-get($co-form__spacing, 'small');
  background: $co-color__fg__back--high;

  &__button {
    @include flex-grid-row($size: expanded);
    &:hover { background: $co-color__fg__back--higher;  }
  }

  &__text {
    @include flex-grid-size(shrink);
    line-height: $co-component__height;
  }

  &__icon {
    @include flex-grid-size(shrink);
    margin-left: auto;
    line-height: $co-component__height;
  }

  &__input { @include flex-grid-size; }
}
