@import '../../styles/common';
@import '../../styles/object/o-form-element';

.m-advanced-select-field-group {
  margin-bottom: $co-component__spacing;

  &__label {
    display: block;
  }

  &__input {
    @include o-form-element;
    min-width: map_get($co-margin_, 'xlarge');

    &--decorated {
      @include o-form-element--light;
    }
  }

  &__select-wrapper {
    @include o-form-element-select-wrapper;
  }

  &__option-button {
    height: $co-component__height;
    text-align: left;
  }

  &--dark {
    &__select-wrapper,
    &__select {
      @include o-form-element--dark;
    }
  }

  &--inline {
    @include o-form-element--inline;
  }
}
