@import '../../styles/common';
@import '../../styles/vendor/bootstrap_foundation-sites';

$co-radio-size: 14px;

.m-radio-field-group {
  &__entry {
    @include flex-grid-row;
    align-items: center;

    & > .m-radio-field-group__entry {
      margin-bottom: $co-component__spacing;
    }
  }

  &__label {
    @include flex-grid-column(shrink);
    cursor: pointer;
  }

  &__input {
    @include flex-grid-size(shrink);
    width: $co-radio-size;
    height: $co-radio-size;
    appearance: none;
    border: 1px solid $co-color__primary;
    border-radius: 50%;
    background: $co-color__fg__back;
    cursor: pointer;

    &:before {
      display: none;
      content: ' ';
      position: absolute;
      right: 1px;
      left: 1px;
      border-radius: 50%;
      background: $co-color__primary--low;
    }

    &:checked {
      position: relative;

      &:before {
        display: block;
        top: 1px;
        bottom: 1px;
      }
    }
  }
}
