@import '../../../../styles/common';
@import '../../../../styles/object/o-avatar';

.m-avatar-letter-wrapper {
  display: inline-block;
  vertical-align: middle;
  border-radius: $co-radius;
  background-color: $co-color__primary--low;
  overflow: hidden;

  &__letter {
    &::before {
      display: block;
      color: $co-color__contrast__text--high;
      text-align: center;
    }
  }

  @include m-avatar--size(medium);

  &--small {
    @include m-avatar--size(small);
  }
  &--medium {
    @include m-avatar--size(medium);
  }
  &--large {
    @include m-avatar--size(large);
  }
  &--xlarge {
    @include m-avatar--size(xlarge);
  }

  &--round {
    border-radius: 50%;
  }
}
