@import '../../styles/common';
@import '../../styles/vendor/bootstrap_foundation-sites';

$message_width: 45rem;

.s-new-device-info {
  max-width: $message_width;
  margin-right: map_get($co-margin_, 'medium');
  margin-left: map_get($co-margin_, 'medium');
  padding-top: map_get($co-margin_, 'medium');
  padding-bottom: map_get($co-margin_, 'medium');
  text-align: justify;

  &__title {
    margin-bottom: $co-margin;
  }

  &__actions {
    margin-top: map_get($co-margin_, 'medium');
    text-align: center;
  }

  &__learn-more {
    margin-right: $co-margin;
  }

  &__modal {
    width: 100%;
    max-width: 2 * map-get($co-form__width, 'xlarge');
    max-height: 100%;
    overflow: auto;
  }

  @include breakpoint(medium) {
    margin-right: auto;
    margin-left: auto;
    padding-top: map_get($co-margin_, 'xlarge');
    padding-bottom: map_get($co-margin_, 'xlarge');

    &__actions {
      margin-top: map-get($co-margin_, 'large');
    }
  }
}
