@import '../../../../styles/vendor/bootstrap_foundation-sites';

.m-contact-list {

  &__alpha-title {
    padding-left: map_get($co-form__spacing, 'large');
    color: $co-color__fg__text--high;
  }

  &__contact {
    @include flex-grid-row($size: expanded);
    align-items: baseline;
    height: map_get($co-form__height, 'large');
    padding-left: map_get($co-form__spacing, 'small');
    line-height: map_get($co-form__height, 'large');
  }

  &__col-avatar {
    @include flex-grid-column(shrink);
  }

  &__col-name {
    @include flex-grid-size;
  }

  @include breakpoint(medium) {
    &__col-name { @include flex-grid-size(5); }
  }
}
