@import '../../styles/common';

.s-new-draft {
  &__form {
    padding-top: map_get($co-margin_, 'large');
    background-color: #f6fcff;
  }

  &__discussion {
    margin-top: map_get($co-margin_, 'large');
  }
}
