@import '../../../../styles/common';
@import '../../../../styles/vendor/bootstrap_foundation-sites';

.l-nav-alt {
  min-height: 100%;
  background-color: $co-color__fg__back;

  &__user {
    padding-top: $co-component__spacing;
  }

  &__menu {
    line-height: $co-component__height;
  }
}
