@import '../../../../styles/common';
@import '../../../../styles/vendor/bootstrap_foundation-sites';

.l-nav-alt {
  min-height: 100%;
  background-color: $co-color__fg__back;

  &__user {
    padding-top: $co-component__spacing;
  }

  &__menu {
    line-height: $co-component__height;
  }

  &__filter,
  &__importance-slider {
    display: flex;
    margin-right: 1rem;
    margin-left: 1rem;
  }

  &__timeline-filter-icon {
    flex: 0 1;
    margin-top: auto;
    margin-bottom: auto;
  }
  &__importance-slider-icon {
    flex: 0 1;
    margin: auto;
    color: $co-color__importance;
  }

  &__timeline-filter,
  &__slider {
    flex: 1 0;
    margin: auto auto auto 1rem;
  }
}
