@import '../../../../styles/common';
@import '../../../../styles/vendor/bootstrap_foundation-sites';

.m-add-form-field-form {
  &__col-button {
    @include flex-grid-size(shrink);
  }

  @include breakpoint(medium) {
    &__legend {
      display: none;
    }
  }
}
