@import '../../styles/common';
@import '../../styles/object/o-clickable';
@import '../../styles/vendor/bootstrap_foundation-sites';

.m-import-contact-form {
  max-width: 320px;

  &__input {
    display: block;
    margin-top: $co-margin;
  }

  &__submit {
    display: block;
    margin-top: $co-margin;
  }
}
