@import '../../../../styles/vendor/bootstrap_foundation-sites';
@import '../../../../styles/object/o-avatar';
@import '../../../../styles/object/o-reset-html-message';

.m-message {
  @include flex-grid-row($size: expand);
  margin-bottom: $co-grid__gutter--small;
  font-size: $co-font__size--small;

  &__avatar-col {
    @include flex-grid-column(shrink);
    display: none;
    padding-top: $co-component__spacing;
  }

  &__avatar { @include m-avatar--size(medium); }

  &__container {
    @include flex-grid-column;
    padding-right: 0;
    padding-left: 0;
    background: $co-color__fg__back;
  }

  &__top-bar {
    @include flex-grid-row($size: expand);
    align-items: center;
    border-bottom: 1px solid $co-color__fg__back--lower;
    background: $co-color__fg__back--higher;
  }

  &__type {  @include flex-grid-size(shrink); }
  &__type-icon { color: $co-color__fg__text; }
  &__type-label { display: none; }

  &__pi { @include flex-grid-size(shrink); }

  &__author {
    @include flex-grid-column;
    color: $co-color__fg__text--high;
    font-weight: 600;
  }

  &__date {
    @include flex-grid-column(shrink);
    margin-left: auto;
  }

  &__actions-switcher {
    @include flex-grid-size(shrink);
    border-left: 1px solid $co-color__fg__back--lower;
  }

  &__actions-menu { background: $co-color__fg__back--higher; }


  &__subject {
    padding: $co-component__spacing;
    border-bottom: 1px solid $co-color__fg__back--lower;
    color: $co-color__fg__text--lower;
  }

  &__body {
    padding: $co-component__spacing;
    overflow: hidden;
    color: $co-color__fg__text;

    &--exerpt {
      &,
      > * {
        display: inline-block;
      }

      &::after {
        display: inline;
        content: ' [...]';
        color: $co-color__fg__text--lower;
      }
    }

    &--html { @include o-reset-html-message; }
  }

  &__expand-button {
    border-top: 1px solid $co-color__fg__back--lower;
    background: $co-color__fg__back--high;
    color: $co-color__fg__text--lower;
    line-height: $co-component__height;
    text-align: center;
  }

  @include breakpoint(medium) {
    margin-bottom: $co-grid__gutter;

    &__container {
      padding-right: 0;
      padding-left: 0;
    }
    &__avatar-col { display: flex; }
    &__type-label { display: inline; }
  }
}
