@import '../../../../styles/vendor/bootstrap_foundation-sites';

.m-message {

  &__top-bar {
    @include flex-grid-row;

    border-top: 1px solid $co-color__bg__back;
    border-bottom: 1px solid $co-color__bg__back;
  }

  &__date {
    @include flex-grid-column(2);
    min-height: $co-component__height;
  }

  &__type {
    @include flex-grid-column(shrink);
    min-height: $co-component__height;
  }

  &__content {
    @include flex-grid-row;
  }

  &__avatar {
    @include flex-grid-column(2);
  }

  &__body {
    @include flex-grid-column;
  }

}
