@import '../../../../styles/common';
@import '../../../../styles/vendor/bootstrap_foundation-sites';

.m-phone-form {
  &__col-button {
    @include flex-grid-size(shrink);
  }
  &__button {
    margin-left: map_get($co-form__spacing, 'medium');
  }

  @include breakpoint(medium) {
    &__legend {
      display: none;
    }
    &__button {
      margin-left: 0;
    }
  }
}
