@import '../../styles/object/o-navigation';
@import '../../styles/vendor/bootstrap_foundation-sites';

.l-page {
  &__main-actions {
    padding: 26px 0 20px;
  }
}

.navbar {
  position: relative;
  height: 46px;

  &__wrapper {
    @include o-navigation-wrapper;
    max-width: initial;
    height: auto;
    margin-top: 0;
    background-color: transparent;

    .compose-item {
      display: none;
    }

    &--sticky {
      top: 0;
      background-color: #d9f2fe;
      box-shadow: none;

      .m-horizontal-scroll {
        height: 41px;
        background-image: none;
      }

      .m-navbar-item,
      .tab {
        margin-top: 0;
      }

      .m-navbar-item--is-active {
        height: 41px;

        .m-item-link {
          line-height: 41px;
        }
      }

      .compose-item {
        display: inline-block;
      }

      .m-horizontal-scroll__container {
        background: #fff;
      }
    }
  }
}

.footer {
  padding-top: 58px;
  padding-bottom: 46px;
  text-align: center;

  .astuce {
    margin-bottom: 26px;
    color: #0f98c6;
  }
  .brand {
    height: 32px;
  }
  .release {
    color: #000;
    font-size: 14px;
  }
}
