@import '../../styles/vendor/bootstrap_foundation-sites';

.m-message-list {
  position: relative;

  button { // ugly hack, to simulate "icon only" Button, waiting for Button refacto
    span {
      @include breakpoint(small) { display: none; }
      @include breakpoint(medium) {
        display: inline;
        padding-left: $co-component__spacing;
      }
    }
  }

  &__action { margin-right: $co-component__spacing; }

  &__reply {
    @include breakpoint(small) {
      position: fixed;
      right: 0;
      bottom: 0;
      left: 0;
      box-shadow: $co-shadow--higher;
    }

    @include breakpoint(medium) {
      position: static;
      box-shadow: none;
    }
  }

}
