@import '../../styles/vendor/bootstrap_foundation-sites';

.m-message-list {

  &__actions {
    padding: 2 * $co-component__spacing;
    border-bottom: 1px solid $co-color__bg__back;
    background: $co-color__fg__back;
  }

  &__action {
    margin-right: 2 * $co-component__spacing;
    background: $co-color__fg__back--high;
  }

  &__list {
    background: $co-color__fg__back;
  }
}
