@import '../../../../styles/common';
@import '../../../../styles/vendor/bootstrap_foundation-sites';
@import '../../../../styles/object/o-callout';
@import '../../../../styles/object/o-clickable';


.s-signup {
  max-width: map-get($co-form__width, 'xlarge');

  &__alpha {
    a {
      color: white;
    }
  }

  &__user { text-align: right; }
  &__username { color: $co-color__fg__text--high;  }

  &__action { line-height: $co-component__height; }

  &__modal {
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
  }

  &__privacy {
    @include o-callout-base;
    @include o-callout--color($co-color__info);
  }

  &__privacy-checkbox { margin-top: $co-margin; }

  &__privacy-link {
    margin-top: $co-margin / 2;
    color: $co-color__fg__text--high;
    font-weight: 600;
  }

  @include breakpoint(medium) {
    &__modal {
      max-width: map-get($co-form__width, 'xlarge');
    }
  }
}
