@import '../../styles/common';
@import '../../styles/vendor/bootstrap_foundation-sites';

.l-auth-page {

  &__header {
    padding-top: map-get($co-form__spacing, 'large');
    text-align: center;

  }

  &__brand {
    margin: map-get($co-form__spacing, 'large') 0;
  }

  &__form {
    @include flex-grid-row;
    justify-content: center;
  }

  &__footer {
    padding: $co-margin 0;
    font-size: .9rem;
    text-align: center;
  }
}
