@import '../../styles/common';
@import '../../styles/vendor/bootstrap_foundation-sites';

$l-auth-page__brand-height: 42px !default;
$l-auth-page__header-space: (
  top: 86px,
  bottom: 36px,
);

.l-auth-page {
  max-width: map-get($co-form__width, 'xlarge');
  margin: auto;
  border-top: 8px solid $co-color__primary; // TODO: update border color according to context
  background: $co-color__fg__back;

  &__header {
    padding-top: map-get($l-auth-page__header-space, top);
    padding-bottom: map-get($l-auth-page__header-space, bottom);
    text-align: center;
  }

  &__brand {
    height: $l-auth-page__brand-height;
  }

  &__form {
    margin: 0 $co-margin * 2;
  }

  &__footer {
    padding: $co-margin 0;
    font-size: $co-font__size--small;
    text-align: center;
  }
}
