@import '../../styles/vendor/bootstrap_foundation-sites';

.s-timeline {

  &__menu-bar {
    @include flex-grid-row($size: expand);
    align-items: center;
  }

  &__spinner {
    @include flex-grid-size(shrink);
  }

  &__col-selector {
    @include flex-grid-size(shrink);
    margin-left: auto;
  }

  &__load-more {
    padding-top: $co-margin;
    padding-bottom: $co-margin;
    text-align: center;
  }
}
