@import '../../styles/common';
@import '../../styles/vendor/bootstrap_foundation-sites';

.s-timeline {
  background-color: white;

  &__discussion-list {
    background-color: lightgrey;
  }

  &__discussion {
    border-top: 2px solid $co-color__fg__border--higher;
  }

  &__load-more {
    margin: 1rem auto;
    text-align: center;
  }

  &__new-msg {
    background-color: $co-color__fg__back;
    text-align: center;
  }
}
