@import '../../styles/common';

.s-timeline {

  &__menu-bar {
    height: $co-component__height;
  }

  &__spinner {
    float: right;
  }

  &__load-more {
    padding-top: $co-margin;
    padding-bottom: $co-margin;
    text-align: center;
  }
}
