.m-instant-message-participants {
  width: auto;
  margin-right: 0;

  &__to, &__from {
    display: block;
    font-size: 0.825rem;
  }

  &__from {
    font-size: 0.875rem;
  }

  &__to {
    color: #a7abad;
  }
}
