@import '../../../../styles/common';
@import '../../../../styles/vendor/bootstrap_foundation-sites';

.m-message-list__load-more +.m-instant-message {
  margin-top: 1rem;
}

.m-instant-message {
  display: flex;
  flex-direction: row;
  width: 44.5rem;
  margin-bottom: 1rem;

  &--from-user {
   flex-direction: row-reverse;
  }

  &__author {
    display: flex;
    flex: 0 0;
    flex-basis: 3rem;
    flex-direction: column;
    align-content: center;
    padding-right: 0.5rem;
    overflow: hidden;
    text-align: center;

    .m-avatar-letter-wrapper {
      margin-bottom: 0.25rem;
    }

    time {
      color: #a7abad;
      font-size: 0.625rem;
    }
  }

  &__info {
    flex: 0 0;
    flex-basis: 10.125rem;
    padding: 0.5rem 1rem;
    background-color: #c5e8f6;
  }

  &__participants {
    width: auto;
    margin-right: 0;

    &__to, &__from {
      display: block;
      font-size: 0.825rem;
    }

    &__from {
      font-size: 0.875rem;
    }

    &__to {
      color: #a7abad;
    }
  }

  .m-message-pi {
    &__meter {
      border-bottom: none;
    }
  }

  &__content {
    flex-basis: 31.875rem;
    padding: 1rem;
    background-color: #b7e2f4;
  }
}
