.action-bar+.instant {
  margin-top: 1rem;
}

.instant {
  display: flex;
  flex-direction: row;
  width: 44.5rem;
  margin-bottom: 1rem;

  header {
    display: flex;
    flex: 0 0;
    flex-basis: 3rem;
    flex-direction: column;
    align-content: center;
    padding-right: 0.5rem;
    overflow: hidden;
    text-align: center;

    .m-avatar-letter-wrapper {
      margin-bottom: 0.25rem;
    }

    time {
      color: #a7abad;
      font-size: 0.625rem;
    }
  }

  aside {
    flex: 0 0;
    flex-basis: 10.125rem;
    padding: 0.5rem 1rem;
    background-color: #c5e8f6;

    .participants {
      width: auto;
      margin-right: 0;

      span {
        display: block;
        font-size: 0.825rem;
      }
    }

    .from {
      font-size: 0.875rem;
    }

    .to {
      color: #a7abad;
    }

    .pi>div {
      display: inline-block;
      vertical-align: middle;
    }
    
    .pi-numeric {
      margin-right: 1rem;
      font-size: 0.825rem;
      font-weight: 600;
    }

    .progress {
      width: 5.75rem;
      height: 0.25rem;
      margin-bottom: 0;
    }
  }

  &.ugly {
    .progress {
      background-color: #edccd4;
    }

    .progress-meter {
      background-color: #ec0f48;
    }

    .pi-numeric {
      color: #ec0f48;
    }
  }

  &.super {
    .progress {
      background-color: #cbe8e3;
    }

    .progress-meter {
      background-color: #07b798;
    }

    .pi-numeric {
      color: #07b798;
    }
  }
  .content {
    flex-basis: 31.875rem;
    padding: 1rem;
    background-color: #b7e2f4;
  }
}
