@import '../../styles/common';
@import '../../styles/vendor/bootstrap_foundation-sites';
@import '../../styles/object/o-avatar';


@mixin m-contact-profile--horizontal {
  &__avatar-wrapper {
    @include flex-grid-size(shrink);
  }

  &__avatar {
    @include m-avatar--size(large);
    margin-bottom: $co-margin / 2;
  }

  &__name {
    @include flex-grid-column(shrink);
  }
}

@mixin m-contact-profile--vertical {
  &__avatar-wrapper {
    @include flex-grid-size(12);
  }

  &__avatar {
    @include m-avatar--size(xxlarge);
  }

  &__name {
    @include flex-grid-column(12);
  }
}

.m-contact-profile {


  &__header {
    @include flex-grid-row;
    position: relative;
  }

  &__edit-button {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__title {
    margin: 0;
    color: $co-color__fg__text--high;
  }

  &__subtitle {
    margin: 0;
    color: $co-color__fg__text--low;
    font-size: $co-font__size--small;
    font-weight: 400;
  }

  &__tags {
    margin-top: $co-margin / 2;
  }

  &__tag {
    margin: 0 $co-component__spacing;
  }

  &__pi {
    margin-top: $co-margin;
    margin-bottom: $co-margin;
  }

  @include m-contact-profile--horizontal;

  @include breakpoint(medium) {
    @include m-contact-profile--vertical;

    &__name,
    &__avatar-wrapper,
    &__tags {
      text-align: center;
    }

  }
}
