@import '../../styles/common';
@import '../../styles/vendor/bootstrap_foundation-sites';
@import '../../styles/object/o-avatar';


.m-contact-profile {
  &__header {
    @include flex-grid-row;
    text-align: center;
  }

  &__avatar-wrapper {
    @include flex-grid-size(12);
  }

  &__avatar {
    @include m-avatar--size(xlarge);
  }

  &__name {
    @include flex-grid-column(12);
    color: $co-color__fg__text--high;
  }

  &__info {
    text-align: center;
  }

  &__tags {
    margin-top: $co-margin / 2;
    text-align: center;
  }

  &__tag {
    margin: 0 $co-component__spacing;
  }

  &__pi {
    margin-top: $co-margin;
    margin-bottom: $co-margin;
  }

}
