@import '../../styles/common';
@import '../../styles/vendor/bootstrap_foundation-sites';

@mixin m-contact-profile--horizontal {
  &__avatar {
    float: left;
    margin-right: $co-margin;
  }
}
@mixin m-contact-profile--vertical {
  &__avatar {
    float: none;
    margin-right: 0;
  }
}

.m-contact-profile {
  position: relative;

  &__edit-button {
    position: absolute;
    top: 0;
    right: 0;
    line-height: $co-component__height;
  }

  &__name {
    @include clearfix;
    display: block;
  }

  &__title {
    color: $co-color__fg__text--high;
  }

  &__subtitle {
    margin-top: 0;
    color: $co-color__fg__text--low;
    font-size: $co-font__size--small;
    font-weight: 400;
  }

  &__tag {
    margin: 0 $co-component__spacing;
  }

  &__pi {
    margin-top: $co-margin;
    margin-bottom: $co-margin;
  }

  @include m-contact-profile--horizontal;

  @include breakpoint(medium) {
    @include m-contact-profile--vertical;

    &__name,
    &__avatar,
    &__tags {
      text-align: center;
    }
  }
}
