@import '../../styles/common';
@import '../../styles/vendor/bootstrap_foundation-sites';

.m-nav {
  display: block;
}

.m-nav-list {
  $baseClassName: &;
  @include flex-grid-row;
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    @include flex-grid-column(shrink);
    line-height: $co-font__line-height;

    &--large {
      line-height: $co-component__height;
    }

    &--active {
      font-weight: 600;
    }
  }

  &--vertical {
    flex-direction: column;

    #{$baseClassName}__item {
      @include flex-grid-size(12);
      margin-bottom: map-get($co-form__spacing, 'small');
      padding-right: 0;
      padding-left: 0;
    }
  }
}
