@import '../../styles/common';
@import '../../styles/vendor/bootstrap_foundation-sites';

.m-nav {
  display: block;
}

.m-nav-list {
  @include flex-grid-row;
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    @include flex-grid-column(shrink);
    line-height: $co-font__line-height;

    a,
    button {
      background: none;
      text-align: left;

      &:hover,
      &:focus {
        background: none;
        color: $co-color__fg__text--lower;
      }
    }

    &--large {
      line-height: $co-component__height;
    }

    &--active {
      font-weight: 600;

      a,
      button {
        color: $co-color__fg__text--low;

        &:hover,
        &:focus {
          color: $co-color__fg__text--lower;
        }
      }
    }
  }

  &--vertical {
    flex-direction: column;

    .m-nav-list__item {
      margin-bottom: map-get($co-form__spacing, 'small');
    }
  }
}
