$m-avatar__size: (
  small: 1.75rem,
  medium: 2.5rem,
  large: 4rem,
  xlarge: 8rem,
);

@mixin m-avatar--size($size) {
  @if type-of($size) == string {
    $size: map-get($m-avatar__size, $size);
  }

  width: $size;
  height: $size;
  font-size: 0.5 * $size;
  font-weight: 600;
  line-height: $size;

  &__letter {
    &::before {
      font-size: inherit;
      line-height: inherit;
    }
  }
}
