$m-avatar__size: (
  small:  2rem,
  medium: 3rem,
  large:  4rem,
  xlarge: 6rem,
  xxlarge: 8rem
);

@mixin m-avatar--size($size) {
  @if type-of($size) == string {
    $size: map-get($m-avatar__size, $size);
  }

  width: $size;
  height: $size;
  font-size: .75 * $size;
  line-height: $size;

  &__letter {
    &::before {
      font-size: inherit;
      line-height: inherit;
    }
  }
}
