@import '../common';

@mixin o-callout--color($color) {
  border-color: lighten($color, 20%);
  background-color: lighten($color, 35%);
}

@mixin o-callout-base {
  margin-bottom: $co-margin / 2;
  padding: $co-margin / 2;

  border: 1px solid $co-color__fg__border;
  border-radius: $co-radius;
  background-color: $co-color__fg__back;
  // box-shadow: $co-shadow;

  color: $co-color__fg__text--low;
}

@mixin o-callout {
  @include o-callout-base;

  &--success {
    @include o-callout--color($co-color__success);
  }
  &--info {
    @include o-callout--color($co-color__info);
  }
  &--warning {
    @include o-callout--color($co-color__warning);
  }
  &--alert {
    @include o-callout--color($co-color__alert);
  }
}
