@mixin o-clickable {
  transition: $co-animation__clickable-transition;
  border-color: $co-color__primary;
  color: $co-color__fg__text--low;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: $co-color__fg__text--high;
  }

  &:active {
    color: $co-color__fg__text--high;
  }

  @each $name, $color in $caliopen-palette {
    &--#{$name} {
      $color-hover: scale-color($color, $lightness: -50%);
      border-color: $color;
      color: $color;

      &-plain,
      &:hover,
      &:focus {
        background-color: $color-hover;
        color: $co-color__fg__text--high;
      }
    }
    // &--#{$name}#{'-plain'} {
    //   background-color: $color-hover;
    //   color: $co-color__fg__text--high;
    // }
  }
}

@mixin o-clickable--text {
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

@mixin o-clickable--button {
  display: inline-block;
  padding: 0 1rem;
  line-height: $co-component__height;
  white-space: nowrap;

  &:hover {
    background-color: $co-color__primary;
  }

  &:active {
    background-color: $co-color__primary--lower;
  }
}

@mixin o-clickable--expanded {
  display: block;
  height: inherit;
}

@mixin o-clickable--hollow {
  border-width: 1px;
  border-style: solid;
}

@mixin o-clickable--plain {
  background-color: $co-color__primary;
}

@mixin o-clickable--inline {
  margin-left: 1px;
  background: $co-color__fg__back--lower;
  font-size: $co-font__size--xsmall;
}

@mixin o-clickable--active-text {
  color: $co-color__fg__text;
  cursor: default;
}

@mixin o-clickable--active-button {
  background-color: $co-color__primary--low;
}
