@mixin o-form-element {
  display: inline-block;
  padding: ($co-margin / 2);
  border: 0;
  background-color: transparent;

  @if has-value($co-animation__box-transition) {
    transition: $co-animation__box-transition;
  }
}

@mixin o-form-element-select-wrapper {
  display: inline-block;
  position: relative;

  &,
  > * {
    cursor: pointer;
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 7px;
    width: 0;
    margin-top: -3px;
    border-width: 6px 4px;
    border-style: solid;
    border-color: $co-color__fg__text transparent transparent;
    pointer-events: none;
  }
}

@mixin o-form-element-select {
  margin-right: 10px;
  user-select: none;
  appearance: none;
}

@mixin o-form-element--dark {
  background-color: $co-color__contrast__back--lower;
  color: $co-color__fg__text;

  &:focus {
    background-color: $co-color__contrast__back--lower;
    color: $co-color__contrast__text;
  }

  &:disabled { background: $co-color__contrast__back--high; }

  // ::placeholder
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgba($co-color__contrast__text--lower, 0.8);
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: rgba($co-color__contrast__text--lower, 0.8);
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: rgba($co-color__contrast__text--lower, 0.8);
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: rgba($co-color__contrast__text--lower, 0.8);
  }

}

@mixin o-form-element--light {
  border-bottom: 2px solid transparent;
  background-color: $co-color__bg__back--higher;
  color: $co-color__fg__text--low;

  &:focus {
    border-color: $co-color__primary;
    color: $co-color__fg__text;
  }

  &:disabled { background: $co-color__fg__back--low; }

  // ::placeholder
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgba($co-color__fg__text--low, 0.8);
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: rgba($co-color__fg__text--low, 0.8);
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: rgba($co-color__fg__text--low, 0.8);
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: rgba($co-color__fg__text--low, 0.8);
  }
}
