@mixin o-form-element {
  display: inline-block;
  padding: ($co-margin / 2) ($co-margin / 2);
  border: 0;

  @if has-value($co-animation__box-transition) {
    transition: $co-animation__box-transition;
  }

}

@mixin o-form-element--dark {
  background-color: $co-color__fg__back--lower;
  color: $co-color__fg__text;

  &:focus {
    background-color: $co-color__fg__back--lower;
    color: $co-color__fg__text;
  }

  // ::placeholder
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $co-color__fg__text--lower;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: $co-color__fg__text--lower;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: $co-color__fg__text--lower;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: $co-color__fg__text--lower;
  }

}

@mixin o-form-element--light {
  border-color: $co-color__contrast__border;
  background-color: $co-color__contrast__back--low;
  color: $co-color__contrast__text--low;

  &:focus {
    border-color: $co-color__contrast__border--low;
    background-color: $co-color__contrast__back--high;
    color: $co-color__contrast__text;
  }
}
