@import '../common';

$l-navigation-item__border-width: 0.25rem;
$l-navigation__height: $co-component__height + 2 *
  $l-navigation-item__border-width;

@mixin o-navigation-wrapper {
  z-index: $l-z-index__navbar;

  &--sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
}
