@mixin o-reset-html-message {
  * {
    width: auto;
    max-width: 100%;
  }

  > * {
    &:first-child {
      margin-top: 0;
      padding-top: 0;
    }
  }

  blockquote {
    display: block;
    margin-left: $co-component__spacing / 2;
    padding: $co-component__spacing;
    border-left: 2px solid $co-color__fg__back--low;
    color: $co-color__fg__text--lower;
    font-size: $co-font__size--small;
  }
}
