@mixin o-triangle($position, $width, $color) {
  $border: $width solid $color;

  display: block;
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: $width solid transparent;

  @if ($position == 'top') {
    bottom: 100%;
    border-bottom: $border;
  }
  @if ($position == 'right') {
    left: 100%;
    border-left: $border;
  }
  @if ($position == 'bottom') {
    top: 100%;
    border-top: $border;
  }
  @if ($position == 'left') {
    right: 100%;
    border-right: $border;
  }
}
