@import '../../styles/common';
@import '../../styles/vendor/bootstrap_foundation-sites';

.s-search-results {
  background: $co-color__fg__back;

  &__preview {
    @include flex-grid-row;
  }

  &__label {
    @include flex-grid-column(12);
    padding-top: $co-component__spacing;
    padding-bottom: $co-component__spacing;
    background: $co-color__bg__back--high;
    color: $co-color__fg__text--low;
    font-weight: 600;
  }

  &__list {
    @include flex-grid-size(12);
  }

  &__load-more {
    padding: $co-component__spacing;
    text-align: center;
  }

  &__link {
    color: $co-color__primary--lower;

    &:hover {
      color: $co-color__primary--low;
    }
  }
}
