@import '../../styles/common';

.m-discussion-textarea {
  &__body {
    width: 100%;
    min-height: 3 * $co-component__height;
    border: 0;
    background: transparent;
    color: $co-color__fg__text--high;
  }
}
