@import '../../styles/object/o-form-element';
@import '../../styles/vendor/bootstrap_foundation-sites';

.m-discussion-textarea {
  padding: $co-component__spacing;

  &__body {
    @include o-form-element;
    width: 100%;
    min-height: 5 * $co-component__height;
    background: transparent;
  }
}
