@import '../../styles/common';

.m-text-list {
  list-style: none;
  margin: 0;
  margin-bottom: $co-margin / 2;
  padding: 0;

  &__item {
    color: $co-color__fg__text--low;
    font-size: $co-font__size;
    line-height: $co-font__line-height;

    &--large {
      line-height: $co-component__height;
    }
  }
}
