@import '../../../../styles/common';
@import '../../../../styles/vendor/bootstrap_foundation-sites';
@import '../../../../styles/object/o-triangle';

.m-multidimensional-pi {
  &__mini-pi {
    display: flex;
    position: relative;
    align-items: stretch;
    height: 100%;
  }

  &__toggle-mini-pi {
    flex: auto;
    padding: 0;
  }

  &__mini-graph {
    width: map-get($co-pi-width, 'ratings');
    padding: $co-component__spacing;
    background: $co-color__fg__back;
    box-shadow: $co-shadow;

    &::before {
      @include o-triangle('top', 0.5rem, $co-color__fg__back);
      left: 0.5rem;
    }
  }
}
