@import '../../../../../../styles/common';
@import '../../../../../../styles/vendor/bootstrap_foundation-sites';
@import '../../../../../../styles/object/o-callout';
@import '../../../../../../styles/object/o-clickable';

.s-signup {
  &__user {
    color: $co-color__fg__text--high;
    font-size: $co-font__size--small;
    text-align: right;
  }

  &__username {
    color: $co-color__fg__text--low;
  }

  &__recovery-label {
    font-size: $co-font__size--small;
  }

  &__action {
    line-height: $co-component__height;
  }

  &__modal {
    width: 100%;
    max-width: map-get($co-form__width, 'xlarge');
    max-height: 100%;
    overflow: auto;
  }

  &__privacy {
    @include o-callout-base;
    @include o-callout--color($co-color__info);
  }

  &__privacy-checkbox {
    margin-top: $co-margin;
  }

  &__link {
    text-align: center;
  }
}
