@import '../../styles/common';
@import '../../styles/vendor/bootstrap_foundation-sites';

.l-contact-book {
  background: $co-color__bg__back;


  &__filters {
    @include flex-grid-row($size: expand);
    padding-bottom: map-get($co-form__spacing, 'small');
    background-color: $co-color__fg__back;
  }

  &__contacts {
    @include flex-grid-row($size: expand);

  }

  &__tags {
    @include flex-grid-size(shrink);
    padding: map_get($co-form__spacing, 'large');
  }

  &__contact-list {
    @include flex-grid-size;
  }

  &__load-more {
    padding-top: $co-margin;
    padding-bottom: $co-margin;
    text-align: center;
  }
}
