.m-horizontal-scroll {
  height: 46px;
  background-image: linear-gradient(180deg, transparent 5px, #e1f5ff 5px);

  &__container {
    background: linear-gradient(180deg, transparent 5px, #fff 2px);
  }
}

.l-navigation {
  &__compose-item {
    display: none;
    border-top: none;

    &--sticky {
      display: inline-block;
    }
  }
  &__compose-btn {
    padding: 0 .5rem;
    color: white;
  }
}
