@import '../../styles/common';
@import '../../styles/vendor/bootstrap_foundation-sites';

$switch-height: 2rem !default;
$switch-radius: 1rem;
$switch-paddle-radius: 1rem;

.m-switch {
  @include switch-container;
  display: inline-block;
  vertical-align: middle;
  height: $switch-height;
  margin-bottom: 0;

  &__input {
    @include switch-input;
  }

  &__paddle {
    @include switch-paddle;
    background-color: $co-color__fg__back--lower;
  }
}
