@import '../../styles/common';
@import '../../styles/object/o-avatar';

.m-author-avatar {
  display: inline-block;
  vertical-align: middle;
  background-color: $co-color__fg__back;
  border-radius: 50%;
  overflow: hidden;

  &__letter {
    &::before {
      display: block;
      color: $co-color__contrast__text--high;
      text-align: center;
    }
  }

  @include m-avatar--size(small);

  &--small  { @include m-avatar--size(small);  }
  &--medium { @include m-avatar--size(medium); }
}
