@import '../../styles/common';
@import '../../styles/vendor/bootstrap_foundation-sites';

.s-devices-settings {
  @include flex-grid-row($size: expand);
  padding: $co-margin / 2;

  &__info,
  &__device {
    @include flex-grid-size(12);
  }

  &__device {
    margin-top: $co-margin / 2;
    margin-bottom: $co-margin / 2;
  }

  @include breakpoint(large) {
    &__info {
      @include flex-grid-column(12);
    }
    &__device {
      @include flex-grid-column(6);
    }
  }
}
