@import '../../../../styles/common';
@import '../../../../styles/object/o-form-element';
@import '../../../../styles/vendor/bootstrap_foundation-sites';

.m-address-form {
  &__select {
    // TODO: insert a wrapper to select to fit new SelectFieldGroup architecture
    @include o-form-element;
    @include o-form-element--light;
  }

  &__col-button {
    @include flex-grid-size(shrink);
  }
  &__button {
    margin-left: map_get($co-form__spacing, 'medium');
  }

  @include breakpoint(medium) {
    &__button {
      margin-left: 0;
    }
  }
}
