@import '../../styles/common';

.m-brand {
  svg {
    width: 100%;
    max-width: $co-brand-width;
  }

  path {
    fill: $co-color__contrast__text;
  }

  &--high {
    path {
      fill: $co-color__contrast__text--high;
    }
  }

  &--low {
    path {
      fill: $co-color__contrast__text--lower;
    }
  }
}
