@import '../../styles/common';

.m-brand {
  svg {
    width: 100%;
    max-width: $co-brand-width;
  }

  path {
    fill: $co-color__primary;
  }

  &--low {
    path {
      fill: $co-color__primary__text--alt;
    }
  }
}
