@import '../../../../styles/vendor/bootstrap_foundation-sites';
@import '../../../../styles/object/o-reset-html-message';

$message_content_width: 45rem;

.m-message {
  @include flex-grid-row($size: expand);
  margin-bottom: $co-grid__gutter--small;

  &__info {
    @include flex-grid-column(12);
    padding-top: $co-component__spacing;
    padding-bottom: $co-component__spacing;
    background-color: $co-color__fg__back--low;
    font-size: $co-font__size--xsmall;
  }

  &__from,
  &__pi {
    @include flex-grid-row;
    align-items: center;
  }

  &__info-label {
    @include flex-grid-size(shrink);
    margin-right: $co-component__spacing;
  }

  &__info-author {
    @include flex-grid-size;
    color: $co-color__fg__text--low;
    font-weight: 600;
  }

  &__container {
    @include flex-grid-size(12);
    padding: 0 $co-grid__gutter--small $co-grid__gutter--small;
    background: $co-color__fg__back;
  }

  &__top-bar {
    @include flex-grid-row;
    flex-wrap: nowrap;
    align-items: center;
    padding: $co-component__spacing 0;
    border-bottom: 1px solid $co-color__fg__border--higher;
    color: $co-color__fg__text--high;
    font-size: $co-font__size--small;
  }

  &__type { @include flex-grid-size(shrink); }
  &__type-icon { color: $co-color__fg__text; }
  &__type-label { display: none; }

  &__participants {
    @include flex-grid-size(shrink);
    margin-left: auto;
  }

  &__participant {
    display: inline-block;
    padding-right: $co-component__spacing / 2;

    &:last-child {
      padding-right: 0;
    }
  }

  &__date {
    @include flex-grid-size(shrink);
  }

  &__content {
    max-width: $message_content_width;
    margin: 0 auto;
    padding: $co-margin 0;
  }

  &__subject {
    margin: $co-margin 0;
    padding-bottom: $co-component__spacing;
    border-bottom: 1px solid $co-color__fg__border--higher;
    font-size: 1.5rem;
    font-weight: 700;
  }

  &__body {
    &--rich-text { @include o-reset-html-message; }
  }

  &__attachments {
    margin-top: $co-margin;
  }

  &__footer {
    margin-top: $co-margin;
    background-color: $co-color__bg__back--higher;
  }

  @include breakpoint(medium) {
    &__info { @include flex-grid-column(3); }
    &__container { @include flex-grid-size(9); }
  }

  @include breakpoint(large) {
    &__info { @include flex-grid-column(2); }
    &__container { @include flex-grid-size(10); }
  }
}
