@import './o-background-image';

.m-background-image {
  @include o-background-image;
  min-height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
