@import '../../../../styles/common';
@import '../../../../styles/vendor/bootstrap_foundation-sites';

.m-contact-profile-form {
  margin: $co-margin 0;

  &__header,
  &__expanded-form {
    @include flex-grid-row($size: expand);
    margin-bottom: $co-margin / 2;
  }

  &__title {
    @include flex-grid-size;
  }

  &__expand-button {
    @include flex-grid-column(shrink);
  }

  &__input {
    @include flex-grid-size(12);
    margin-bottom: $co-margin / 2;
  }

  &__birthday,
  &__birthday-input {
    width: 100%;
  }

  &__birthday-input {
    margin-bottom: $co-margin / 2;
  }
}
