@import '../../../../styles/common';

.m-discussion-selector {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-width: 1200px;
  height: 2.625rem;
  margin: 0 auto;

  &__checkbox {
    margin: auto 0.5rem;
  }
}
