@import '../../styles/common';
@import '../../styles/vendor/bootstrap_foundation-sites';

.m-form-grid {
  &__row {
    @include flex-grid-row;

    &--reverse {
      flex-direction: row-reverse;
    }
  }

  &__column {
    @include flex-grid-size(12);
    display: block;

    &--align-center {
      text-align: center;
    }

    &--fluid {
      @include flex-grid-size;
      padding-right: map_get($co-form__spacing, 'xsmall');
    }

    &--bottom-space {
      margin-bottom: map_get($co-form__spacing, 'medium');
    }

    @include breakpoint(medium) {
      &--right-space {
        padding-right: map_get($co-form__spacing, 'medium');
      }

      &--align-right {
        text-align: right;
      }

      &--small {
        @include flex-grid-size(4);
      }

      &--medium {
        @include flex-grid-size(6);
      }

      &--large {
        @include flex-grid-size(8);
      }

      &--shrink {
        @include flex-grid-size(shrink);
      }
    }
  }
}
