@import '../../../styles/common';
@import '../../../styles/object/o-form-element';

.m-textarea-field-group {
  &__label {
    display: block;
    margin-bottom: map-get($co-form__spacing, 'small');
  }

  &__textarea {
    @include o-form-element;
  }

  &__errors {
    margin-top: map-get($co-form__spacing, 'medium');
  }

  &--dark {
    &__textarea { @include o-form-element--dark; }
  }

  &,
  &--light {
    &__textarea { @include o-form-element--light; }
  }

  &--expanded {
    &__textarea { width: 100%; }
  }
}
