@import '../../styles/vendor/bootstrap_foundation-sites';

.m-sidebar-layout {
  @include flex-grid-row;
  background: $co-color__bg__back;

  &__left {
    @include flex-grid-size(12);
    background-color: $co-color__sidebar__back;
  }

  &__panel {
    @include flex-grid-size(12);
    background-color: $co-color__fg__back;
  }

  @include breakpoint(medium) {
    &__left {
      @include flex-grid-size(2);
    }

    &__panel {
      @include flex-grid-size;
    }
  }
}
