@import '../../../../styles/common';

.m-openpgp-key {
  background: $co-color__fg__back;
  margin-bottom: 1px;

  &__main {
    display: flex;
    line-height: $co-component__height;
  }

  &__icon {
    flex: 0 1;
    margin-right: $co-margin / 4;
  }

  &__fingerprint {
    flex: 1 0;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__actions {
    flex: 0 1;
    text-align: right;
    white-space: nowrap;
  }

  &__detail {
    margin-bottom: $co-margin;
  }

  &__summary {
    font-style: italic;
  }

  &__toggle-info--warning {
    color: $co-color__warning;
  }
}
